openapi: 3.0.3
info:
  title: ESPN Site Web API
  version: 1.0.0
  description: Unofficial ESPN Site Web API for retrieving sports data from site.web.api.espn.com. This API is not officially supported by ESPN and may change without notice.

servers:
  - url: https://site.web.api.espn.com
    description: ESPN Site Web API Production Server
  - url: http://site.web.api.espn.com

paths:
  /apis/common/v3/sports/football/nfl/athletes/{athleteId}/overview:
    get:
      tags:
        - NFL Athletes
      summary: Get NFL athlete overview
      operationId: getAthleteOverviewNFL
      parameters:
        - name: athleteId
          in: path
          required: true
          description: ID of the athlete
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteOverviewResponse'
        '400':
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /apis/common/v3/sports/football/nfl/athletes/{athleteId}/gamelog:
    get:
      summary: Get NFL Athlete Game Log
      description: Retrieve game-by-game statistics for a specific NFL athlete
      operationId: getNFLAthleteGameLog
      parameters:
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
        - name: season
          in: query
          required: false
          description: Season year to filter by
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: query
          required: false
          description: Season type (1=preseason, 2=regular, 3=postseason)
          schema:
            type: integer
            enum: [1, 2, 3]
            example: 2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteGameLogResponse'
        '404':
          description: Athlete game log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /apis/common/v3/search:
    get:
      summary: General Search
      description: Search for sports content including teams, athletes, articles and more
      operationId: getGeneralSearch
      parameters:
        - name: query
          in: query
          required: true
          description: Search query term
          schema:
            type: string
            example: "Mahomes"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            example: 10
        - name: mode
          in: query
          required: false
          description: Search mode (e.g., prefix, full)
          schema:
            type: string
            enum: [prefix, full]
            example: "prefix"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /apis/search/v2:
    get:
      summary: General Search (v2)
      description: Search for sports content including teams, athletes, articles and more (legacy v2 endpoint)
      operationId: getGeneralSearchV2
      parameters:
        - name: query
          in: query
          required: true
          description: Search query term
          schema:
            type: string
            example: "Tom Brady"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            example: 2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchV2Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /apis/v2/scoreboard/header:
    get:
      summary: Get Scoreboard Header
      description: Retrieve header information for scoreboard pages
      operationId: getScoreboardHeader
      parameters:
        - name: sport
          in: query
          required: true
          description: Sport identifier
          schema:
            type: string
            example: "football"
        - name: league
          in: query
          required: true
          description: League identifier
          schema:
            type: string
            example: "nfl"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreboardHeaderResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    Reference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
      required:
        - $ref

    AthleteOverviewResponse:
      type: object
      properties:
        statistics:
          $ref: '#/components/schemas/CareerStatistics'
        news:
          type: array
          items:
            $ref: '#/components/schemas/NewsItemDetailed'
        athlete:
          $ref: '#/components/schemas/AthleteDetails'
          nullable: true
        teams:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Team'
              - $ref: '#/components/schemas/TeamReference'
        season:
          $ref: '#/components/schemas/Season'

    AthleteDetails:
      type: object
      required:
        - id
        - uid
        - guid
        - type
        - firstName
        - lastName
        - fullName
        - displayName
      properties:
        id:
          type: string
          example: "2330"
        uid:
          type: string
          example: "s:20~a:2330"
        guid:
          type: string
          example: "02927b1c67269964a3263940c6c17491"
        type:
          type: string
          example: "football"
        alternateIds:
          type: object
          properties:
            sdr:
              type: string
              example: "2330"
        firstName:
          type: string
          example: "Tom"
        lastName:
          type: string
          example: "Brady"
        fullName:
          type: string
          example: "Tom Brady"
        displayName:
          type: string
          example: "Tom Brady"
        shortName:
          type: string
          example: "T. Brady"
        weight:
          type: number
          format: float
          example: 225
        displayWeight:
          type: string
          example: "225 lbs"
        height:
          type: number
          format: integer
          example: 76
        displayHeight:
          type: string
          example: "6' 4\\\""
        age:
          type: integer
          example: 46
        dateOfBirth:
          type: string
          format: date-time
          example: "1977-08-03T07:00:00Z"
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        birthPlace:
          $ref: '#/components/schemas/BirthPlace'
        college:
          type: object
          properties:
            id:
              type: string
              nullable: true
            mascot:
              type: string
              nullable: true
            name:
              type: string
              nullable: true
            shortName:
              type: string
              nullable: true
          additionalProperties: true
        slug:
          type: string
          example: "tom-brady"
        headshot:
          $ref: '#/components/schemas/Headshot'
        jersey:
          type: string
          example: "12"
        position:
          $ref: '#/components/schemas/Position'
        injuries:
          type: array
          items:
            $ref: '#/components/schemas/Injury'
          nullable: true
        teams:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Team'
              - $ref: '#/components/schemas/TeamReference'
        experience:
          $ref: '#/components/schemas/Experience'
        status:
          $ref: '#/components/schemas/Status'
        eventLog:
          $ref: '#/components/schemas/Reference'
          nullable: true
        active:
          type: boolean
          example: true
        debutYear:
          type: integer
          example: 2000
        draft:
          $ref: '#/components/schemas/Draft'
          nullable: true
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          nullable: true
        hand:
          $ref: '#/components/schemas/Hand'
          nullable: true
        transactions:
          $ref: '#/components/schemas/Reference'
          nullable: true
        flag:
          $ref: '#/components/schemas/Flag'
          nullable: true
        career:
          $ref: '#/components/schemas/Reference'
          nullable: true

    AthleteGameLogResponse:
      type: object
      properties:
        events:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GameEvent'
          description: A dictionary of events, keyed by event ID
        requested_season:
          $ref: '#/components/schemas/RequestedSeason'
        season:
          $ref: '#/components/schemas/GameLogSeason'
      required:
        - events

    GameEvent:
      type: object
      properties:
        id:
          type: string
          example: "401671788"
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        week:
          type: integer
          example: 14
        atVs:
          type: string
          enum: ["vs", "@"]
          example: "vs"
        gameDate:
          type: string
          format: date-time
          example: "2024-12-09T01:20:00.000+00:00"
        score:
          type: string
          example: "19-17"
        homeTeamId:
          type: string
          example: "12"
        awayTeamId:
          type: string
          example: "24"
        homeTeamScore:
          type: string
          example: "19"
        awayTeamScore:
          type: string
          example: "17"
        gameResult:
          type: string
          enum: ["W", "L", "T"]
          example: "W"
        opponent:
          $ref: '#/components/schemas/GameEventTeam'
        leagueName:
          type: string
          example: "National Football League"
        leagueAbbreviation:
          type: string
          example: "NFL"
        leagueShortName:
          type: string
          example: "NFL"
        team:
          $ref: '#/components/schemas/GameEventTeam'
      required:
        - id
        - gameDate
        - score
        - opponent
        - team

    GameEventTeam:
      type: object
      properties:
        id:
          type: string
          example: "24"
        uid:
          type: string
          example: "s:20~l:28~t:24"
        abbreviation:
          type: string
          example: "LAC"
        displayName:
          type: string
          example: "Los Angeles Chargers"
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        logo:
          type: string
          format: uri
          example: "https://a.espncdn.com/i/teamlogos/nfl/500/lac.png"
        isAllStar:
          type: boolean
          example: false
      required:
        - id
        - abbreviation

    RequestedSeason:
      type: object
      properties:
        year:
          type: integer
          example: 2024
        type:
          type: integer
          example: 2
        name:
          type: string
          example: "Regular Season"
        displayName:
          type: string
          example: "2024 Regular Season"
      required:
        - year
        - type

    GameLogSeason:
      type: object
      properties:
        types:
          type: array
          items:
            $ref: '#/components/schemas/SeasonType'
        year:
          type: integer
          example: 2024
      required:
        - year
        - types

    SeasonType:
      type: object
      properties:
        type:
          type: integer
          example: 2
        name:
          type: string
          example: "Regular Season"
        abbreviation:
          type: string
          example: "reg"
        startDate:
          type: string
          format: date
          example: "2024-09-05"
        endDate: 
          type: string
          format: date
          example: "2025-01-05"
        hasStandings:
          type: boolean
          example: true
      required:
        - type
        - name

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        metadata:
          $ref: '#/components/schemas/SearchMetadata'
      required:
        - results

    SearchResult:
      type: object
      properties:
        type:
          type: string
          example: "athlete"
          description: "Type of search result (athlete, team, article, etc.)"
        id:
          type: string
          example: "3139477"
        uid:
          type: string
          example: "s:20~l:28~a:3139477"
        name:
          type: string
          example: "Patrick Mahomes"
        description:
          type: string
          example: "Kansas City Chiefs quarterback"
        sport:
          $ref: '#/components/schemas/SportReference'
        league:
          $ref: '#/components/schemas/LeagueReference'
        team:
          $ref: '#/components/schemas/TeamReference'
        image:
          type: string
          format: uri
          example: "https://a.espncdn.com/i/headshots/nfl/players/full/3139477.png"
        url:
          type: string
          format: uri
          example: "https://www.espn.com/nfl/player/_/id/3139477/patrick-mahomes"
      required:
        - type
        - id
        - name

    SearchMetadata:
      type: object
      properties:
        count:
          type: integer
          example: 10
        totalCount:
          type: integer
          example: 125
        offset:
          type: integer
          example: 0
      required:
        - count

    ScoreboardHeaderResponse:
      type: object
      properties:
        league:
          $ref: '#/components/schemas/LeagueReference'
        season:
          $ref: '#/components/schemas/Season'
        navigation:
          type: array
          items:
            $ref: '#/components/schemas/NavigationItem'
        events:
          type: array
          items:
            $ref: '#/components/schemas/ScoreboardEvent'
      required:
        - league
        - season

    NavigationItem:
      type: object
      properties:
        label:
          type: string
          example: "Scores"
        url:
          type: string
          format: uri
          example: "/nfl/scoreboard"
        isActive:
          type: boolean
          example: true
      required:
        - label
        - url

    ScoreboardEvent:
      type: object
      properties:
        id:
          type: string
          example: "401547417"
        name:
          type: string
          example: "Kansas City Chiefs vs. Philadelphia Eagles"
        shortName:
          type: string
          example: "KC vs PHI"
        date:
          type: string
          format: date-time
          example: "2023-02-12T23:30:00Z"
        homeTeam:
          $ref: '#/components/schemas/TeamReference'
        awayTeam:
          $ref: '#/components/schemas/TeamReference'
        status:
          $ref: '#/components/schemas/EventStatus'
      required:
        - id
        - name
        - date

    EventStatus:
      type: object
      properties:
        state:
          type: string
          enum: [pre, in, post]
          example: "post"
        detail:
          type: string
          example: "Final"
        shortDetail:
          type: string
          example: "Final"
      required:
        - state

    LeagueReference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
      required:
        - $ref

    SportReference:
      type: object
      properties:
        id:
          type: string
          example: "20"
        name:
          type: string
          example: "Football"
        slug:
          type: string
          example: "football"
      required:
        - id
        - name

    TeamReference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
          description: URL reference to the full team details.
          example: "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/teams/17?lang=en&region=us"
      required:
        - $ref

    AthleteReference:
      type: object
      properties:
        id:
          type: string
          example: "3139477"
        fullName:
          type: string
          example: "Patrick Mahomes"
        displayName:
          type: string
          example: "Patrick Mahomes"
        headshot:
          type: string
          format: uri
          example: "https://a.espncdn.com/i/headshots/nfl/players/full/3139477.png"
      required:
        - id
        - fullName

    Position:
      type: object
      properties:
        id:
          type: string
          example: "9"
        name:
          type: string
          example: "Quarterback"
        displayName:
          type: string
          example: "Quarterback"
        abbreviation:
          type: string
          example: "QB"
        leaf:
          type: boolean
          example: true
          nullable: true
        parent:
          $ref: '#/components/schemas/Reference'
          nullable: true

    StatCategory:
      type: object
      properties:
        name:
          type: string
          example: "passingYards"
        displayName:
          type: string
          example: "Passing Yards"
        value:
          type: number
          example: 4183
        displayValue:
          type: string
          example: "4,183"
        rankDisplayValue:
          type: string
          example: "6th in NFL"
      required:
        - name
        - value

    NewsItemDetailed:
      type: object
      properties:
        headline:
          type: string
        lastModified:
          type: string
          format: date-time
        root:
          type: string
          nullable: true
        premium:
          type: boolean
        links:
          $ref: '#/components/schemas/NewsLinks'
        type:
          type: string
        section:
          oneOf:
            - type: string
            - $ref: '#/components/schemas/Reference'
          example: "NFL"
          nullable: true
        id:
          type: integer
        linkText:
          type: string
          nullable: true
        categorized:
          type: string
          format: date-time
          nullable: true
        description:
          type: string
          nullable: true
        nowId:
          type: string
          nullable: true
        allowComments:
          type: boolean
          nullable: true
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          nullable: true
        categories:
          type: array
          items:
            $ref: '#/components/schemas/NewsCategory'
          nullable: true
        published:
          type: string
          format: date-time
          nullable: true
        video:
          type: array
          items:
            $ref: '#/components/schemas/VideoItem'
          nullable: true
        byline:
          type: string
          nullable: true
        dataSourceIdentifier:
          type: string
          nullable: true
        authors:
          type: array
          items:
            $ref: '#/components/schemas/Author'
          nullable: true

    NewsLinks:
      type: object
      properties:
        api:
          $ref: '#/components/schemas/SelfLink'
        mobile:
          $ref: '#/components/schemas/HrefLink'
        web:
          $ref: '#/components/schemas/HrefLink'

    SelfLink:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HrefLink'

    HrefLink:
      type: object
      properties:
        href:
          type: string
          format: uri

    Image:
      type: object
      properties:
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
        url:
          type: string
          format: uri
          nullable: true
        name:
          type: string
          nullable: true
        alt:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
        peers:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          nullable: true
        source:
          type: string
          nullable: true

    NewsCategory:
      type: object
      properties:
        id:
          type: integer
        uid:
          type: string
        description:
          type: string
        type:
          type: string
        sportId:
          type: integer
          nullable: true
        leagueId:
          type: integer
          nullable: true
        athleteId:
          type: integer
          nullable: true
        teamId:
          type: integer
          nullable: true
        guid:
          type: string
          nullable: true
        athlete:
          type: object
          properties:
            id:
              type: integer
            links:
              type: object
        team:
          type: object
          properties:
            id:
              type: integer
            links:
              type: object
        league:
          type: object
          properties:
            id:
              type: integer
            abbreviation:
              type: string
            links:
              type: object

    VideoItem:
      type: object
      description: Detailed information about a video.
      properties:
        source:
          type: string
          example: "espn"
          nullable: true
        id:
          type: integer
          example: 45014514
        headline:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        premium:
          type: boolean
          nullable: true
        ad:
          $ref: '#/components/schemas/VideoAdDetails'
          nullable: true
        tracking:
          $ref: '#/components/schemas/VideoTrackingDetails'
          nullable: true
        cerebroId:
          type: string
          nullable: true
        lastModified:
          type: string
          format: date-time
          nullable: true
        originalPublishDate:
          type: string
          format: date-time
          nullable: true
        timeRestrictions:
          $ref: '#/components/schemas/VideoTimeRestrictions'
          nullable: true
        deviceRestrictions:
          $ref: '#/components/schemas/VideoDeviceRestrictions'
          nullable: true
        geoRestrictions:
          $ref: '#/components/schemas/VideoGeoRestrictions'
          nullable: true
        syndicatable:
          type: boolean
          nullable: true
        duration:
          type: integer
          nullable: true
        categories:
          type: array
          items:
            $ref: '#/components/schemas/NewsCategory'
          nullable: true
        posterImages:
          $ref: '#/components/schemas/VideoPosterImages'
          nullable: true
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          nullable: true
        thumbnail:
          type: string
          format: uri
          nullable: true
        links:
          $ref: '#/components/schemas/VideoLinks'
          nullable: true

    VideoAdDetails:
      type: object
      properties:
        sport:
          type: string
        bundle:
          type: string

    VideoTrackingDetails:
      type: object
      properties:
        sportName:
          type: string
        leagueName:
          type: string
        coverageType:
          type: string
        trackingName:
          type: string
        trackingId:
          type: string

    VideoTimeRestrictions:
      type: object
      properties:
        embargoDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time

    VideoDeviceRestrictions:
      type: object
      properties:
        type:
          type: string
        devices:
          type: array
          items:
            type: string

    VideoGeoRestrictions:
      type: object
      properties:
        type:
          type: string
        countries:
          type: array
          items:
            type: string

    VideoPosterImages:
      type: object
      properties:
        square:
          $ref: '#/components/schemas/HrefLink'
        default:
          $ref: '#/components/schemas/ImageLinkWithSize'
        wide:
          $ref: '#/components/schemas/HrefLink'
        full:
          $ref: '#/components/schemas/HrefLink'

    ImageLinkWithSize:
      allOf:
        - $ref: '#/components/schemas/HrefLink'
        - type: object
          properties:
            width:
              type: integer
            height:
              type: integer

    VideoLinks:
      type: object
      properties:
        sportscenter:
          $ref: '#/components/schemas/HrefLink'
        web:
          $ref: '#/components/schemas/SelfLink'
        mobile:
          type: object
          properties:
            href:
              type: string
              format: uri
            alert:
              $ref: '#/components/schemas/HrefLink'
            progressiveDownload:
              $ref: '#/components/schemas/HrefLink'
            source:
              $ref: '#/components/schemas/HrefLink'
            streaming:
              $ref: '#/components/schemas/HrefLink'
        api:
          type: object
          properties:
            artwork:
              $ref: '#/components/schemas/HrefLink'
            self:
              $ref: '#/components/schemas/HrefLink'
        source:
          type: object
          properties:
            href:
              type: string
              format: uri
            flash:
              $ref: '#/components/schemas/HrefLink'
            full:
              $ref: '#/components/schemas/HrefLink'
            hds:
              $ref: '#/components/schemas/HrefLink'
            mezzanine:
              $ref: '#/components/schemas/HrefLink'
            HD:
              $ref: '#/components/schemas/HrefLink'
            HLS:
              type: object
              properties:
                href:
                  type: string
                  format: uri
                HD:
                  $ref: '#/components/schemas/HrefLink'

    Author:
      type: object
      properties:
        displayName:
          type: string
          nullable: true
        sourceLine:
          type: string
          nullable: true
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          nullable: true
        links:
          type: object
          properties:
            api:
              $ref: '#/components/schemas/SelfLink'
          nullable: true

    Season:
      type: object
      properties:
        year:
          type: integer
          example: 2023
        type:
          type: integer
          description: Season type (1=preseason, 2=regular, 3=postseason)
          example: 2
        displayName:
          type: string
          example: "2023 Regular Season"
        "$ref":
          type: string
          format: uri
          nullable: true

    Error:
      type: object
      properties:
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'

    CareerStatistics:
      type: object
      properties:
        displayName:
          type: string
          example: "Career Passing"
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "passing"
              displayName:
                type: string
                example: "Passing"
              count:
                type: integer
                example: 9
            required:
              - name
              - displayName
        labels:
          type: array
          items:
            type: string
          description: "Labels for the statistics."
          example: ["CMP", "ATT", "CMP%", "YDS", "AVG", "TD", "INT", "LNG", "RTG"]
        names:
          type: array
          items:
            type: string
          description: "Internal names for the statistics."
          example: ["completions", "passingAttempts", "completionPct", "passingYards", "yardsPerPassAttempt", "passingTouchdowns", "interceptions", "longPassing", "QBRating"]
        displayNames:
          type: array
          items:
            type: string
          description: "Display names for the statistics."
          example: ["Completions", "Passing Attempts", "Completion Percentage", "Passing Yards", "Yards Per Pass Attempt", "Passing Touchdowns", "Interceptions", "Longest Pass", "Passer Rating"]
        splits:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
                example: "Career"
              stats:
                type: array
                items:
                  type: string
                example: ["7753", "12050", "64.3", "89,214", "7.4", "649", "212", "99", "97.2"]
            required:
              - displayName
              - stats
          description: "Breakdown of statistics by different criteria (e.g., seasons, game types)."
      required: # Assuming these are generally present based on example
        - displayName
        - categories
        - labels
        - names
        - displayNames
        - splits

    AthleteStatus:
      type: object
      properties:
        id:
          type: string
          example: "1"
        name:
          type: string
          example: "Active"
        type:
          type: string
          example: "active"
        abbreviation:
          type: string
          example: "ACT"

    Draft:
      type: object
      properties:
        displayText:
          type: string
        round:
          type: integer
        year:
          type: integer
        selection:
          type: integer
        team:
            $ref: '#/components/schemas/TeamReference'

    Hand:
      type: object
      properties:
        type:
          type: string
        abbreviation:
          type: string
        displayValue:
          type: string
      nullable: true

    Flag:
        type: object
        properties:
            id:
                type: string
            text:
                type: string
            type:
                type: string
        nullable: true

    BirthPlace:
      type: object
      properties:
        city:
          type: string
          example: "San Mateo"
        state:
          type: string
          example: "CA"
          nullable: true
        country:
          type: string
          example: "USA"
          nullable: true

    College:
      type: object
      properties:
        id:
          type: string
        mascot:
          type: string
        name:
          type: string
        shortName:
          type: string
      additionalProperties: true

    Headshot:
      type: object
      properties:
        href:
          type: string
          format: uri
        alt:
          type: string
          example: "Tom Brady"
          nullable: true

    Injury:
      type: object
      properties:
        status:
          type: string
        date:
          type: string
          format: date-time
          example: "2023-10-10T00:00:00Z"
          nullable: true
        comment:
          type: string
          nullable: true
        detail:
          type: string
          nullable: true
        type:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            abbreviation:
              type: string
        details:
          $ref: '#/components/schemas/Reference'

    Team:
      type: object
      properties:
        id:
          type: string
          example: "17"
        uid:
          type: string
          example: "s:20~l:28~t:17"
        slug:
          type: string
          example: "new-england-patriots"
          nullable: true
        abbreviation:
          type: string
          example: "NE"
        displayName:
          type: string
          example: "New England Patriots"
        shortDisplayName:
          type: string
          example: "Patriots"
          nullable: true
        name:
          type: string
          example: "Patriots"
          nullable: true
        nickname:
          type: string
          example: "Patriots"
          nullable: true
        location:
          type: string
          example: "New England"
        color:
          type: string
          example: "002244"
          nullable: true
        alternateColor:
          type: string
          example: "c60c30"
          nullable: true
        isActive:
          type: boolean
          example: true
        isAllStar:
          type: boolean
          example: false
          nullable: true
        logos:
          type: array
          items:
            $ref: '#/components/schemas/Logo'
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
        group:
          $ref: '#/components/schemas/Reference'
          nullable: true
        seasonSummary:
          type: string
          nullable: true
        clubhouse:
          type: string
          format: uri
          nullable: true
        logo:
          type: string
          format: uri
          nullable: true

    Logo:
      type: object
      properties:
        href:
          type: string
          format: uri
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
        alt:
          type: string
          nullable: true
        rel:
          type: array
          items:
            type: string
          nullable: true

    Experience:
      type: object
      properties:
        years:
          type: integer
          example: 23

    Status:
      type: object
      properties:
        id:
          type: string
          example: "1"
        name:
          type: string
          example: "Active"
        type:
          type: string
          example: "active"
        abbreviation:
          type: string
          example: "ACT"

    Note:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        text:
          type: string

    Link:
      type: object
      properties:
        language:
          type: string
          example: "en-US"
        rel:
          type: array
          items:
            type: string
          example: ["desktop", "athlete"]
        href:
          type: string
          format: uri
        text:
          type: string
        shortText:
          type: string
          nullable: true
        isExternal:
          type: boolean
        isPremium:
          type: boolean
        attributes:
          type: array
          items:
            type: string
          nullable: true

    ImageLink:
        type: object
        properties:
            href:
                type: string
                format: uri
            width:
                type: integer
            height:
                type: integer
            alt:
                type: string
            rel:
                type: array
                items:
                    type: string

    SearchV2Response:
      type: object
      properties:
        totalFound:
          type: integer
          description: Total number of results found
        resultTypes:
          type: array
          description: List of result type summaries
          items:
            $ref: '#/components/schemas/SearchV2ResultType'
        results:
          type: array
          description: List of grouped search results
          items:
            $ref: '#/components/schemas/SearchV2ResultGroup'
      required:
        - totalFound
        - resultTypes
        - results

    SearchV2ResultType:
      type: object
      properties:
        totalFound:
          type: integer
        type:
          type: string
        displayName:
          type: string
      required:
        - totalFound
        - type
        - displayName

    SearchV2ResultGroup:
      type: object
      properties:
        type:
          type: string
        totalFound:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        displayName:
          type: string
        contents:
          type: array
          items:
            $ref: '#/components/schemas/SearchV2ContentItem'
      required:
        - type
        - totalFound
        - page
        - limit
        - displayName
        - contents

    SearchV2ContentItem:
      type: object
      properties:
        id:
          type: string
        uid:
          type: string
          nullable: true
        guid:
          type: string
          nullable: true
        type:
          type: string
        displayName:
          type: string
        description:
          type: string
          nullable: true
        subtitle:
          type: string
          nullable: true
        link:
          type: object
          properties:
            app:
              type: string
              nullable: true
            web:
              type: string
              nullable: true
        image:
          type: object
          properties:
            default:
              type: string
              format: uri
              nullable: true
            defaultDark:
              type: string
              format: uri
              nullable: true
          nullable: true
        images:
          type: array
          items:
            type: object
          nullable: true
        defaultLeagueSlug:
          type: string
          nullable: true
        sport:
          type: string
          nullable: true
        byline:
          type: string
          nullable: true
        date:
          type: string
          format: date-time
          nullable: true
        isPremium:
          type: boolean
          nullable: true
        categories:
          type: array
          items:
            type: object
          nullable: true
        nowId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
      required:
        - id
        - type
        - displayName
        - link