openapi: 3.0.3
info:
  title: ESPN Sports Core API
  version: 1.0.0
  description: Unofficial ESPN Sports Core API for retrieving detailed sports data from sports.core.api.espn.com. This API is not officially supported by ESPN and may change without notice.

servers:
  - url: https://sports.core.api.espn.com
    description: ESPN Sports Core API Production Server

paths:
  /v2/sports/football/leagues/nfl/athletes/{athleteId}:
    get:
      summary: Get NFL Athlete Details
      description: Retrieve detailed information for a specific NFL athlete
      operationId: getNFLAthleteDetails
      parameters:
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteDetailsResponse'
        '404':
          description: Athlete not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/athletes/{athleteId}/statistics:
    get:
      summary: Get NFL Athlete Statistics
      description: Retrieve detailed statistics for a specific NFL athlete
      operationId: getNFLAthleteStatistics
      parameters:
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsResponse'
        '404':
          description: Athlete statistics not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/athletes/{athleteId}/statisticslog:
    get:
      summary: Get NFL Athlete Statistics Log
      description: Retrieve log of statistics for a specific NFL athlete across games/seasons
      operationId: getNFLAthleteStatisticsLog
      parameters:
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsLogResponse'
        '404':
          description: Athlete statistics log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/calendar:
    get:
      summary: Get League Calendar
      description: Retrieve the calendar for a given league and sport (e.g., NFL, NBA, etc). Returns a list of calendar resource references.
      operationId: getLeagueCalendar
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/venues:
    get:
      summary: Get League Venues
      description: Retrieve the list of venues for a given league and sport. Returns a paginated list of venue resource references.
      operationId: getLeagueVenues
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/franchises:
    get:
      summary: Get League Franchises
      description: Retrieve the list of franchises for a given league and sport. Returns a paginated list of franchise resource references.
      operationId: getLeagueFranchises
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons:
    get:
      summary: Get League Seasons
      description: Retrieve the list of seasons for a given league and sport. Returns a paginated list of season resource references.
      operationId: getLeagueSeasons
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasonType}/weeks:
    get:
      summary: Get League Season Weeks
      description: Retrieve the list of weeks for a given season and season type in a league and sport. Returns a paginated list of week resource references.
      operationId: getLeagueSeasonWeeks
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasonType
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events:
    get:
      summary: Get League Events
      description: Retrieve the list of events for a given league and sport. Returns a paginated list of event resource references.
      operationId: getLeagueEvents
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
        - name: week
          in: query
          required: false
          description: Filter by week number
          schema:
            type: integer
            example: 1
        - name: season
          in: query
          required: false
          description: Filter by season year
          schema:
            type: integer
            example: 2024
        - name: seasontypes
          in: query
          required: false
          description: Filter by season type(s) (comma-separated)
          schema:
            type: string
            example: "2"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{eventId}:
    get:
      summary: Get League Event Details
      description: Retrieve detailed information for a specific event in a league and sport.
      operationId: getLeagueEventDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            type: string
            example: football
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            type: string
            example: nfl
        - name: eventId
          in: path
          required: true
          description: The event ID
          schema:
            type: string
            example: "401772510"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/events/{eventId}/competitions/{competitionId}/drives:
    get:
      summary: Get Drives for a Competition
      description: Retrieve all drives for a given NFL event/competition.
      operationId: getNFLCompetitionDrives
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrivesListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/events/{eventId}/competitions/{competitionId}/plays:
    get:
      summary: Get Plays for a Competition
      description: Retrieve all plays for a given NFL event/competition.
      operationId: getNFLCompetitionPlays
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaysListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/leaders:
    get:
      summary: Get NFL League Leaders
      description: Retrieve league leaders for various statistical categories in the NFL.
      operationId: getNFLLeaders
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of leader entries to return per category
          schema:
            type: integer
            example: 10
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflLeadersResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/leaders:
    get:
      summary: Get NFL Leaders for a Season and Type
      description: Retrieve league leaders for various statistical categories in the NFL for a specific season and season type (e.g., regular, postseason).
      operationId: getNFLSeasonTypeLeaders
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason)
          schema:
            type: integer
            example: 2
        - name: limit
          in: query
          required: false
          description: Maximum number of leader entries to return per category
          schema:
            type: integer
            example: 10
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflLeadersResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/teams/{team_id}:
    get:
      summary: Get NFL Team Details for a Season
      description: Retrieve detailed information for a specific NFL team in a given season (core API).
      operationId: getNflSeasonTeam
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 12)
          schema:
            type: string
            example: "12"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreNflSeasonTeamResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/teams/{team_id}/injuries:
    get:
      summary: Get NFL Team Injuries
      description: Retrieve a paginated list of injury references for a specific NFL team.
      operationId: getNflTeamInjuries
      parameters:
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 12)
          schema:
            type: string
            example: "12"
        - name: pageIndex
          in: query
          required: false
          description: Page index for pagination
          schema:
            type: integer
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Page size for pagination
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/draft:
    get:
      summary: Get NFL Draft for a Season
      description: Retrieve NFL Draft data for a specific season, including rounds, athletes, positions, and team needs.
      operationId: getNflDraft
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/teams/{team_id}/depthcharts:
    get:
      summary: Get NFL Team Depth Chart
      description: Retrieve the depth chart for a specific NFL team in a given season (core API).
      operationId: getNflTeamDepthchart
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 2)
          schema:
            type: string
            example: "2"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflTeamDepthchartResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/athletes/{athlete_id}/eventlog:
    get:
      summary: Get NFL Athlete Event Log
      description: Retrieve the event log for a specific NFL athlete in a given season (core API).
      operationId: getNflAthleteEventlog
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: athlete_id
          in: path
          required: true
          description: The athlete ID (e.g., 3139477)
          schema:
            type: string
            example: "3139477"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflAthleteEventlogResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/draft/rounds:
    get:
      summary: Get NFL Draft Rounds
      description: Retrieve all rounds and picks for the NFL draft for a given season (core API).
      operationId: getNflDraftRounds
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftRoundsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/draft/athletes/{athlete_id}:
    get:
      summary: Get NFL Draft Athlete Details
      description: Retrieve details for a specific NFL draft athlete (core API).
      operationId: getNflDraftAthlete
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: athlete_id
          in: path
          required: true
          description: The draft athlete ID (e.g., 106308)
          schema:
            type: string
            example: "106308"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftAthleteResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/groups/{group_id}/standings:
    get:
      summary: Get NFL Conference Standings
      description: Retrieve NFL conference standings for a given year, season type, and group (e.g., NFC or AFC).
      operationId: getNFLConferenceStandings
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: group_id
          in: path
          required: true
          description: The group ID (e.g., 7 for NFC, 8 for AFC)
          schema:
            type: integer
            example: 7
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflConferenceStandingsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    AthleteDetailsResponse:
      type: object
      properties:
        id:
          type: string
          example: "3139477"
        uid:
          type: string
          example: "s:20~l:28~a:3139477"
        guid:
          type: string
          example: "37d87523-280a-9d4a-0adb-22cfc6d3619c"
        type:
          type: string
          example: "football"
        alternateIds:
          type: object
          properties:
            sdr:
              type: string
              example: "3139477"
        firstName:
          type: string
          example: "Patrick"
        lastName:
          type: string
          example: "Mahomes"
        fullName:
          type: string
          example: "Patrick Mahomes"
        displayName:
          type: string
          example: "Patrick Mahomes"
        shortName:
          type: string
          example: "P. Mahomes"
        weight:
          type: number
          format: float
          example: 225.0
        displayWeight:
          type: string
          example: "225 lbs"
        height:
          type: number
          format: float
          example: 74.0
        displayHeight:
          type: string
          example: "6' 2\""
        age:
          type: integer
          example: 29
        dateOfBirth:
          type: string
          format: date-time
          example: "1995-09-17T07:00Z"
        debutYear:
          type: integer
          example: 2017
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        jersey:
          type: string
          example: "15"
        position:
          $ref: '#/components/schemas/Position'
        team:
          oneOf:
            - $ref: '#/components/schemas/Team'
            - $ref: '#/components/schemas/Reference'
        active:
          type: boolean
          example: true
        status:
          $ref: '#/components/schemas/AthleteStatus'
        experience:
          type: object
          properties:
            years:
              type: integer
              example: 7
            displayValue:
              type: string
              example: "7 years"
      required:
        - id
        - uid
        - fullName

    AthleteStatisticsResponse:
      type: object
      properties:
        athlete:
          $ref: '#/components/schemas/AthleteReference'
        season:
          $ref: '#/components/schemas/Season'
          nullable: true
        splits:
          type: object
          properties:
            id:
              type: string
              example: "0"
            name:
              type: string
              example: "All Splits"
            abbreviation:
              type: string
              example: "Any"
            categories:
              type: array
              items:
                $ref: '#/components/schemas/StatisticCategory'
      required:
        - athlete
        - splits

    AthleteStatisticsLogResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
          example: "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/athletes/3139477/statisticslog?lang=en&region=us"
        athlete:
          $ref: '#/components/schemas/AthleteReference'
          nullable: true
        entries:
          type: array
          items:
            $ref: '#/components/schemas/StatisticsLogEntry'
      required:
        - entries

    AthleteReference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
          example: "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/athletes/3139477?lang=en&region=us"
      required:
        - $ref

    StatisticCategory:
      type: object
      properties:
        name:
          type: string
          example: "passing"
        displayName:
          type: string
          example: "Passing"
        shortDisplayName:
          type: string
          example: "Passing"
        abbreviation:
          type: string
          example: "PASS"
        summary:
          type: string
          example: ""
        stats:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'
      required:
        - name
        - displayName
        - stats

    Statistic:
      type: object
      properties:
        name:
          type: string
          example: "completions"
        displayName:
          type: string
          example: "Completions"
        shortDisplayName:
          type: string
          example: "COMP"
        description:
          type: string
          example: "The number of passes completed"
        abbreviation:
          type: string
          example: "COMP"
        value:
          type: number
          example: 401.0
        displayValue:
          type: string
          example: "401"
      required:
        - name
        - value

    StatisticsLogEntry:
      type: object
      properties:
        season:
          $ref: '#/components/schemas/Reference'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/StatisticsTypeEntry'
      required:
        - season
        - statistics
        
    StatisticsTypeEntry:
      type: object
      properties:
        type:
          type: string
          example: "total"
        team:
          oneOf:
            - $ref: '#/components/schemas/Team'
            - $ref: '#/components/schemas/Reference'
          nullable: true
        statistics:
          $ref: '#/components/schemas/StatisticsReference'
      required:
        - type
        - statistics
        
    StatisticsReference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
          example: "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/seasons/2024/types/2/athletes/3139477/statistics/0?lang=en&region=us"
      required:
        - $ref

    EventReference:
      type: object
      properties:
        id:
          type: string
          example: "401547417"
        date:
          type: string
          format: date-time
          example: "2023-02-12T23:30:00Z"
        homeTeam:
          $ref: '#/components/schemas/TeamReference'
        awayTeam:
          $ref: '#/components/schemas/TeamReference'

    Season:
      type: object
      properties:
        year:
          type: integer
          example: 2023
        type:
          type: integer
          example: 2
          description: "Season type (1=preseason, 2=regular, 3=postseason)"
        slug:
          type: string
          example: "regular-season"
      required:
        - year
        - type

    Position:
      type: object
      properties:
        id:
          type: string
          example: "8"
        name:
          type: string
          example: "Quarterback"
        displayName:
          type: string
          example: "Quarterback"
        abbreviation:
          type: string
          example: "QB"
        leaf:
          type: boolean
          example: true
      required:
        - id
        - name
        - abbreviation

    Team:
      type: object
      properties:
        id:
          type: string
          example: "12"
        uid:
          type: string
          example: "s:20~l:28~t:12"
        location:
          type: string
          example: "Kansas City"
        name:
          type: string
          example: "Chiefs"
        abbreviation:
          type: string
          example: "KC"
        displayName:
          type: string
          example: "Kansas City Chiefs"
        shortDisplayName:
          type: string
          example: "Chiefs"
        color:
          type: string
          example: "e31837"
        alternateColor:
          type: string
          example: "ffb612"
        logo:
          type: string
          format: uri
          example: "https://a.espncdn.com/i/teamlogos/nfl/500/kc.png"
      required:
        - id
        - displayName

    TeamReference:
      type: object
      properties:
        id:
          type: string
          example: "12"
        abbreviation:
          type: string
          example: "KC"
        displayName:
          type: string
          example: "Kansas City Chiefs"
      required:
        - id
        - displayName

    AthleteStatus:
      type: object
      properties:
        id:
          type: string
          example: "1"
        name:
          type: string
          example: "Active"
        type:
          type: string
          example: "active"
        abbreviation:
          type: string
          example: "ACT"
      required:
        - id
        - name

    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        text:
          type: string
          example: "Standings"
        rel:
          type: array
          items:
            type: string
            example: "standings"
      required:
        - href
        - rel

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string

    Reference:
      type: object
      properties:
        $ref:
          type: string
          format: uri
      required:
        - $ref

    CalendarListResponse:
      type: object
      properties:
        count:
          type: integer
          example: 4
        pageIndex:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 25
        pageCount:
          type: integer
          example: 1
        items:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items

    PaginatedReferenceListResponse:
      type: object
      properties:
        count:
          type: integer
          example: 18
        pageIndex:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 25
        pageCount:
          type: integer
          example: 1
        items:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items

    EventDetail:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        uid:
          type: string
        date:
          type: string
          format: date-time
        name:
          type: string
        shortName:
          type: string
        season:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        seasonType:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        week:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        timeValid:
          type: boolean
        competitions:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Reference'
              - type: object
                properties:
                  $ref:
                    type: string
                    format: uri
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        venues:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Reference'
              - type: object
                properties:
                  $ref:
                    type: string
                    format: uri
        league:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
      required:
        - id
        - date
        - competitions

    DrivesListResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        count:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Drive'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items

    PlaysListResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        count:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Play'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items

    Drive:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        description:
          type: string
        sequenceNumber:
          type: string
        team:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - $ref: '#/components/schemas/Team'
        endTeam:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - $ref: '#/components/schemas/Team'
        start:
          $ref: '#/components/schemas/DriveFieldPosition'
        end:
          $ref: '#/components/schemas/DriveFieldPosition'
        timeElapsed:
          $ref: '#/components/schemas/DriveTimeElapsed'
        yards:
          type: integer
        isScore:
          type: boolean
        offensivePlays:
          type: integer
        result:
          type: string
        shortDisplayResult:
          type: string
        displayResult:
          type: string
        source:
          $ref: '#/components/schemas/DriveSource'
        plays:
          $ref: '#/components/schemas/PlaysListResponse'

    DriveFieldPosition:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/DrivePeriod'
        clock:
          $ref: '#/components/schemas/DriveClock'
        yardLine:
          type: integer
        text:
          type: string

    DrivePeriod:
      type: object
      properties:
        type:
          type: string
        number:
          type: integer

    DriveClock:
      type: object
      properties:
        value:
          type: number
        displayValue:
          type: string

    DriveTimeElapsed:
      type: object
      properties:
        value:
          type: number
        displayValue:
          type: string

    DriveSource:
      type: object
      properties:
        id:
          type: string
        description:
          type: string

    Play:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        sequenceNumber:
          type: string
        type:
          $ref: '#/components/schemas/PlayType'
        text:
          type: string
        shortText:
          type: string
        alternativeText:
          type: string
        shortAlternativeText:
          type: string
        awayScore:
          type: integer
        homeScore:
          type: integer
        period:
          $ref: '#/components/schemas/PlayPeriod'
        clock:
          $ref: '#/components/schemas/PlayClock'
        scoringPlay:
          type: boolean
        priority:
          type: boolean
        scoreValue:
          type: integer
        modified:
          type: string
          format: date-time
        team:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - $ref: '#/components/schemas/Team'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/PlayParticipant'
        probability:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        wallclock:
          type: string
          format: date-time
        drive:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - $ref: '#/components/schemas/Drive'
        start:
          $ref: '#/components/schemas/PlayFieldPosition'
        end:
          $ref: '#/components/schemas/PlayFieldPosition'
        statYardage:
          type: integer

    PlayType:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        abbreviation:
          type: string

    PlayPeriod:
      type: object
      properties:
        number:
          type: integer

    PlayClock:
      type: object
      properties:
        value:
          type: number
        displayValue:
          type: string

    PlayFieldPosition:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/PlayPeriod'
        clock:
          $ref: '#/components/schemas/PlayClock'
        yardLine:
          type: integer
        text:
          type: string

    PlayParticipant:
      type: object
      properties:
        athlete:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        position:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        statistics:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        stats:
          type: array
          items:
            $ref: '#/components/schemas/PlayStat'
        order:
          type: integer
        type:
          type: string

    PlayStat:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        shortDisplayName:
          type: string
        description:
          type: string
        abbreviation:
          type: string
        value:
          type: number
        displayValue:
          type: string

    NflLeadersResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
          example: "http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/leaders/0?lang=en&region=us"
        id:
          type: string
          example: "0"
        name:
          type: string
          example: "TOTAL"
        abbreviation:
          type: string
          example: "Any"
        type:
          type: string
          example: "total"
        categories:
          type: array
          items:
            $ref: '#/components/schemas/NflLeadersCategory'
      required:
        - $ref
        - id
        - name
        - abbreviation
        - type
        - categories

    NflLeadersCategory:
      type: object
      properties:
        name:
          type: string
          example: "totalPoints"
        displayName:
          type: string
          example: "Total Points"
        shortDisplayName:
          type: string
          example: "TP"
        abbreviation:
          type: string
          example: "TP"
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/NflLeader'
      required:
        - name
        - displayName
        - shortDisplayName
        - abbreviation
        - leaders

    NflLeader:
      type: object
      properties:
        displayValue:
          type: string
          example: "2673"
        value:
          type: number
          example: 2673.0
        rel:
          type: array
          items:
            type: string
            example: "athlete"
        athlete:
          $ref: '#/components/schemas/Reference'
        statistics:
          $ref: '#/components/schemas/Reference'
        team:
          $ref: '#/components/schemas/Reference'
      required:
        - displayValue
        - value
        - rel
        - athlete
        - statistics

    CoreNflSeasonTeamResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        guid:
          type: string
        uid:
          type: string
        alternateIds:
          $ref: '#/components/schemas/AlternateIDS'
        slug:
          type: string
        location:
          type: string
        name:
          type: string
        nickname:
          type: string
        abbreviation:
          type: string
        displayName:
          type: string
        shortDisplayName:
          type: string
        color:
          type: string
        alternateColor:
          type: string
        isActive:
          type: boolean
        isAllStar:
          type: boolean
        logos:
          type: array
          items:
            $ref: '#/components/schemas/Logo'
        record:
          $ref: '#/components/schemas/Reference'
          nullable: true
        oddsRecords:
          $ref: '#/components/schemas/Reference'
          nullable: true
        athletes:
          $ref: '#/components/schemas/Reference'
          nullable: true
        venue:
          $ref: '#/components/schemas/Venue'
          nullable: true
        groups:
          $ref: '#/components/schemas/Reference'
          nullable: true
        ranks:
          $ref: '#/components/schemas/Reference'
          nullable: true
        statistics:
          $ref: '#/components/schemas/Reference'
          nullable: true
        leaders:
          $ref: '#/components/schemas/Reference'
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        injuries:
          $ref: '#/components/schemas/Reference'
          nullable: true
        notes:
          $ref: '#/components/schemas/Reference'
          nullable: true
        againstTheSpreadRecords:
          $ref: '#/components/schemas/Reference'
          nullable: true
        franchise:
          $ref: '#/components/schemas/Reference'
          nullable: true
        projection:
          $ref: '#/components/schemas/Reference'
          nullable: true
        events:
          $ref: '#/components/schemas/Reference'
          nullable: true
        transactions:
          $ref: '#/components/schemas/Reference'
          nullable: true
        coaches:
          $ref: '#/components/schemas/Reference'
          nullable: true
        attendance:
          $ref: '#/components/schemas/Reference'
          nullable: true
      required:
        - $ref
        - id
        - guid
        - uid
        - alternateIds
        - slug
        - location
        - name
        - nickname
        - abbreviation
        - displayName
        - shortDisplayName
        - color
        - alternateColor
        - isActive
        - isAllStar
        - logos
        - links

    AlternateIDS:
      type: object
      properties:
        sdr:
          type: string
      required:
        - sdr

    Venue:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        fullName:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        grass:
          type: boolean
        indoor:
          type: boolean
        images:
          type: array
          items:
            $ref: '#/components/schemas/Logo'
      required:
        - $ref
        - id
        - fullName
        - address
        - grass
        - indoor
        - images

    Address:
      type: object
      properties:
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        country:
          type: string
      required:
        - city
        - state
        - zipCode
        - country

    Logo:
      type: object
      properties:
        href:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        alt:
          type: string
        rel:
          type: array
          items:
            type: string
        lastUpdated:
          type: string
          format: date-time
      required:
        - href
        - width
        - height
        - alt
        - rel

    NflAthleteInjury:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        longComment:
          type: string
        shortComment:
          type: string
        status:
          type: string
        date:
          type: string
        athlete:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        team:
          oneOf:
            - $ref: '#/components/schemas/Reference'
            - type: object
              properties:
                $ref:
                  type: string
                  format: uri
        source:
          type: object
          properties:
            id:
              type: string
            description:
              type: string
            state:
              type: string
          required:
            - id
            - description
            - state
        type:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            abbreviation:
              type: string
          required:
            - id
            - name
            - description
            - abbreviation
      required:
        - $ref
        - id
        - longComment
        - shortComment
        - status
        - date
        - athlete
        - team
        - source
        - type
      description: Detailed NFL athlete injury object 

    NflDraftResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        uid:
          type: string
        year:
          type: integer
        numberOfRounds:
          type: integer
        displayName:
          type: string
        shortDisplayName:
          type: string
        status:
          $ref: '#/components/schemas/NflDraftRound'
        athletes:
          $ref: '#/components/schemas/NflDraftRound'
        rounds:
          $ref: '#/components/schemas/NflDraftRound'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftPosition'
        needs:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftTeamNeed'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      required:
        - $ref
        - uid
        - year
        - numberOfRounds
        - displayName
        - shortDisplayName
        - status
        - athletes
        - rounds
        - positions
        - needs
        - links

    NflDraftRound:
      type: object
      properties:
        $ref:
          type: string
          format: uri
      required:
        - $ref

    NflDraftTeam:
      type: object
      properties:
        $ref:
          type: string
          format: uri
      required:
        - $ref

    NflDraftAthleteResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        guid:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        displayName:
          type: string
        shortName:
          type: string
        weight:
          type: number
        displayWeight:
          type: string
        height:
          type: number
        displayHeight:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        college:
          oneOf:
            - $ref: '#/components/schemas/Reference'
        position:
          $ref: '#/components/schemas/Position'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        team:
          oneOf:
            - $ref: '#/components/schemas/Reference'
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftAthleteAttribute'
        analysis:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftAthleteAnalysis'
        pick:
          oneOf:
            - $ref: '#/components/schemas/Reference'
        athlete:
          oneOf:
            - $ref: '#/components/schemas/Reference'
        logo:
          $ref: '#/components/schemas/Logo'
      required:
        - $ref
        - id
        - guid
        - firstName
        - lastName
        - fullName
        - displayName
        - shortName
        - weight
        - displayWeight
        - height
        - displayHeight
        - links
        - college
        - position
        - positions
        - team
        - attributes
        - analysis
        - pick
        - athlete
        - logo

    NflDraftAthleteAttribute:
      type: object
      properties:
        type:
          type: integer
        name:
          type: string
        displayName:
          type: string
        abbreviation:
          type: string
        value:
          type: number
        displayValue:
          type: string
      required:
        - type
        - name
        - displayName
        - abbreviation
        - value
        - displayValue

    NflDraftAthleteAnalysis:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        text:
          type: string
        grade:
          type: integer
      required:
        - id
        - type

    NflDraftRoundsResponse:
      type: object
      properties:
        count:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftRoundDetail'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items

    NflDraftRoundDetail:
      type: object
      properties:
        number:
          type: integer
        displayName:
          type: string
        shortDisplayName:
          type: string
        picks:
          type: array
          items:
            $ref: '#/components/schemas/NflDraftPick'
        status:
          $ref: '#/components/schemas/NflDraftRoundStatus'
      required:
        - number
        - displayName
        - shortDisplayName
        - picks
        - status

    NflDraftPick:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/NflDraftPickStatus'
        pick:
          type: integer
        overall:
          type: integer
        round:
          type: integer
        traded:
          type: boolean
        tradeNote:
          type: string
          nullable: true
        athlete:
          oneOf:
            - $ref: '#/components/schemas/Reference'
          description: Reference to the athlete object
        team:
          oneOf:
            - $ref: '#/components/schemas/Reference'
          description: Reference to the team object
      required:
        - status
        - pick
        - overall
        - round
        - traded
        - athlete
        - team

    NflDraftPickStatus:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        state:
          type: string
          nullable: true
      required:
        - id
        - name
        - description

    NflDraftRoundStatus:
      type: object
      properties:
        round:
          type: integer
        type:
          $ref: '#/components/schemas/NflDraftPickStatus'
      required:
        - round
        - type

    NflDraftPosition:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        abbreviation:
          type: string
        leaf:
          type: boolean
        parent:
          oneOf:
            - $ref: '#/components/schemas/Reference'
      required:
        - $ref
        - id
        - name
        - displayName
        - abbreviation
        - leaf
        - parent 

    NflTeamDepthchartResponse:
      type: object
      properties:
        count:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/NflTeamDepthchartGroup'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items 

    NflTeamDepthchartGroup:
      type: object
      properties:
        name:
          type: string
        positions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/NflTeamDepthchartPosition'
      required:
        - name
        - positions 

    NflTeamDepthchartPosition:
      type: object
      properties:
        position:
          $ref: '#/components/schemas/Position'
        athletes:
          type: array
          items:
            $ref: '#/components/schemas/NflTeamDepthchartAthlete'
      required:
        - position
        - athletes 

    NflTeamDepthchartAthlete:
      type: object
      properties:
        rank:
          type: integer
        slot:
          type: integer
        athlete:
          $ref: '#/components/schemas/Reference'
      required:
        - rank
        - slot
        - athlete 

    NflDraftTeamNeed:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Reference'
        position:
          $ref: '#/components/schemas/Reference'
        need:
          type: string
        rank:
          type: integer
        description:
          type: string
      required:
        - team
        - need
        - rank
        - description 

    NflAthleteEventlogResponse:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        teams:
          type: object
          additionalProperties:
            type: object
            properties:
              team:
                oneOf:
                  - $ref: '#/components/schemas/Reference'
              id:
                type: string
            required:
              - id
              - team
        events:
          type: object
          properties:
            count:
              type: integer
            pageIndex:
              type: integer
            pageSize:
              type: integer
            pageCount:
              type: integer
            items:
              type: array
              items:
                type: object
                properties:
                  event:
                    oneOf:
                      - $ref: '#/components/schemas/Reference'
                  competition:
                    oneOf:
                      - $ref: '#/components/schemas/Reference'
                  statistics:
                    oneOf:
                      - $ref: '#/components/schemas/Reference'
                  teamId:
                    type: string
                  played:
                    type: boolean
                required:
                  - event
                  - competition
                  - teamId
                  - played
          required:
            - count
            - pageIndex
            - pageSize
            - pageCount
            - items
      required:
        - $ref
        - teams
        - events
      description: NFL athlete event log response object. 

    NflConferenceStandingsResponse:
      type: object
      properties:
        count:
          type: integer
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/NflConferenceStandingsItem'
      required:
        - count
        - pageIndex
        - pageSize
        - pageCount
        - items
      description: NFL Conference Standings response object.

    NflConferenceStandingsItem:
      type: object
      properties:
        $ref:
          type: string
          format: uri
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      required:
        - $ref
        - id
        - name
        - displayName
        - links
      description: Item in NFL Conference Standings response. 