openapi: 3.0.3
info:
  title: ESPN NFL API
  version: 1.0.0
  description: Unofficial ESPN API for retrieving NFL game data. This API is not officially supported by ESPN and may change without notice.

servers:
  - url: https://site.api.espn.com/apis/site/v2
    description: ESPN Site API Production Server

paths:
  /sports/{sport}/{league}/scoreboard:
    get:
      summary: Get Scoreboard
      description: Retrieve current scoreboard for any sport/league including game scores, status, and basic information
      operationId: getScoreboard
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport (e.g., football, basketball, baseball, hockey, soccer)
          schema:
            type: string
            enum: [football, basketball, baseball, hockey, soccer]
            example: "football"
        - name: league
          in: path
          required: true
          description: The league (e.g., nfl, nba, mlb, nhl, college-football, mens-college-basketball, womens-college-basketball, wnba)
          schema:
            type: string
            example: "nfl"
        - name: dates
          in: query
          required: false
          description: Filter by specific dates (format YYYYMMDD)
          schema:
            type: string
            example: "20240201"
        - name: week
          in: query
          required: false
          description: The week number of the season (football sports only)
          schema:
            type: integer
            example: 1
        - name: seasontype
          in: query
          required: false
          description: Season type (1=preseason, 2=regular, 3=postseason, 4=off-season) - football sports only
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: groups
          in: query
          required: false
          description: Filter by conference/group ID - primarily for college sports. See CollegeFootballConferenceEnum and CollegeBasketballConferenceEnum for valid values.
          schema:
            type: string
            example: "8"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericScoreboardResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/football/nfl/summary:
    get:
      summary: Get NFL Game Summary
      description: Retrieve comprehensive summary data for a specific NFL game including scores, statistics, and detailed game information
      operationId: getNFLGameSummary
      parameters:
        - name: event
          in: query
          required: true
          description: The event ID of the NFL game
          schema:
            type: string
            example: "401547417"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSummary'
        '404':
          description: Game not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/football/nfl/teams:
    get:
      summary: Get NFL Teams List
      description: Retrieve list of all NFL teams with details including names, colors, logos and links
      operationId: getNFLTeamsList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/football/nfl/teams/{teamId}:
    get:
      summary: Get NFL Team Details
      description: Retrieve detailed information for a specific NFL team including records, venue and franchise details
      operationId: getNFLTeamDetails
      parameters:
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            example: "12"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetailsResponse'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/news:
    get:
      summary: Get League News
      description: Retrieve the latest news articles and headlines for a specified sport and league
      operationId: getLeagueNews
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, mlb, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: limit
          in: query
          required: false
          description: Maximum number of articles to return
          schema:
            type: integer
            example: 10
        - name: team
          in: query
          required: false
          description: Filter news by team ID
          schema:
            type: integer
            example: 12
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportNewsAPISchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/teams:
    get:
      summary: Get Teams List
      description: Retrieve a list of teams for a specified sport and league
      operationId: getTeamsList
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/teams/{team_id_or_abbrev}:
    get:
      summary: Get Team Details
      description: Retrieve detailed information for a specific team by ID or abbreviation
      operationId: getTeamDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID (numeric string) or abbreviation
          schema:
            oneOf:
              - type: string
                pattern: '^\d+$'
                description: Numeric team ID
              - $ref: '#/components/schemas/NFLTeamAbbreviation'
              - $ref: '#/components/schemas/NBATeamAbbreviation'
              - $ref: '#/components/schemas/MLBTeamAbbreviation'
              - $ref: '#/components/schemas/NHLTeamAbbreviation'
              - $ref: '#/components/schemas/WNBATeamAbbreviation'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetailsResponse'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/summary:
    get:
      summary: Get Game Summary
      description: Retrieve comprehensive summary data for a specific game including scores, statistics, and detailed game information
      operationId: getGameSummary
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event
          in: query
          required: true
          description: The event ID of the game
          schema:
            type: string
            example: "401547417"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GameSummary'
                  - $ref: '#/components/schemas/MlbGameSummaryResponse'
                  - $ref: '#/components/schemas/NhlGameSummaryResponse'
                  - $ref: '#/components/schemas/NbaGameSummaryResponse'
        '404':
          description: Game not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/teams/{team_id_or_abbrev}/schedule:
    get:
      summary: Get Team Schedule
      description: Retrieve the full schedule for a specific team, including all games for the season
      operationId: getTeamSchedule
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID or abbreviation
          schema:
            type: string
            example: "LAL"
        - name: season
          in: query
          required: false
          description: The season year to retrieve the schedule for
          schema:
            type: integer
            example: 2024
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamScheduleResponse'
        '404':
          description: Team or schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/teams/{team_id_or_abbrev}/roster:
    get:
      summary: Get Team Roster
      description: Retrieve the complete roster for a specific team including player details, positions, and coaches
      operationId: getTeamRoster
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier (e.g., nfl, nba, mlb, nhl, college-football, mens-college-basketball, womens-college-basketball)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID or abbreviation
          schema:
            type: string
            example: "KC"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamRosterResponse'
        '404':
          description: Team or roster not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/{sport}/{league}/rankings:
    get:
      summary: Get Rankings
      description: Retrieve current rankings/polls for college sports (AP Top 25, Coaches Poll, etc.). Only available for college sports.
      operationId: getRankings
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier (currently only college sports supported)
          schema:
            type: string
            enum: [football, basketball]
            example: "football"
        - name: league
          in: path
          required: true
          description: The league identifier (college-football, mens-college-basketball, womens-college-basketball)
          schema:
            type: string
            enum: [college-football, mens-college-basketball, womens-college-basketball]
            example: "college-football"
        - name: season
          in: query
          required: false
          description: The season year
          schema:
            type: integer
            example: 2024
        - name: week
          in: query
          required: false
          description: The week number
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankingsResponse'
        '404':
          description: Rankings not available for this sport/league
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /mondaynightfootball:
    get:
      summary: Get Monday Night Football schedule and games
      description: Retrieve the full Monday Night Football schedule and game details for the NFL season.
      operationId: getMondayNightFootball
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MondayNightFootballResponse'

  /thursdaynightfootball:
    get:
      summary: Get Thursday Night Football schedule and games
      description: Retrieve the full Thursday Night Football schedule and game details for the NFL season.
      operationId: getThursdayNightFootball
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThursdayNightFootballResponse'

  /sundaynightfootball:
    get:
      summary: Get Sunday Night Football schedule and games
      description: Retrieve the full Sunday Night Football schedule and game details for the NFL season.
      operationId: getSundayNightFootball
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SundayNightFootballResponse'

  /sports/baseball/mlb/teams:
    get:
      summary: Get MLB Teams List
      description: Retrieve list of all MLB teams with details including names, colors, logos and links
      operationId: getMLBTeamsList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/baseball/mlb/teams/{team_id_or_abbrev}:
    get:
      summary: Get MLB Team Details
      description: Retrieve detailed information for a specific MLB team including records, venue and franchise details
      operationId: getMLBTeamDetails
      parameters:
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID (numeric string) or abbreviation (see enum for valid abbreviations)
          schema:
            type: string
            example: "15"
            enum:
              - ARI
              - ATH
              - ATL
              - BAL
              - BOS
              - CHC
              - CHW
              - CIN
              - CLE
              - COL
              - DET
              - HOU
              - KC
              - LAA
              - LAD
              - MIA
              - MIL
              - MIN
              - NYM
              - NYY
              - PHI
              - PIT
              - SD
              - SEA
              - SF
              - STL
              - TB
              - TEX
              - TOR
              - WSH
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetailsResponse'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/baseball/mlb/summary:
    get:
      summary: Get MLB Game Summary
      description: Retrieve comprehensive summary data for a specific MLB game including scores, statistics, and detailed game information
      operationId: getMLBGameSummary
      parameters:
        - name: event
          in: query
          required: true
          description: The event ID of the MLB game
          schema:
            type: string
            example: "401472463"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MlbGameSummaryResponse'
        '404':
          description: Game not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/hockey/nhl/teams:
    get:
      summary: Get NHL Teams List
      description: Retrieve list of all NHL teams with details including names, colors, logos and links
      operationId: getNHLTeamsList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/hockey/nhl/teams/{team_id_or_abbrev}:
    get:
      summary: Get NHL Specific Team
      description: Retrieve detailed information for a specific NHL team by ID or abbreviation
      operationId: getNHLTeamDetails
      parameters:
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID or abbreviation (e.g., 1, BOS)
          schema:
            type: string
            example: "1"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetailsResponse'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/hockey/nhl/teams/{team_id_or_abbrev}/roster:
    get:
      summary: Get NHL Team Roster
      description: Retrieve the complete roster for a specific NHL team including player details, positions, and statistics
      operationId: getNHLTeamRoster
      parameters:
        - name: team_id_or_abbrev
          in: path
          required: true
          description: The team ID or abbreviation (e.g., 1, BOS)
          schema:
            type: string
            example: "1"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhlTeamRosterResponse'
        '404':
          description: Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/hockey/nhl/summary:
    get:
      summary: Get NHL Game Summary
      description: Retrieve comprehensive summary data for a specific NHL game including scores, statistics, and detailed game information
      operationId: getNHLGameSummary
      parameters:
        - name: event
          in: query
          required: true
          description: The event ID of the NHL game
          schema:
            type: string
            example: "401559593"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhlGameSummaryResponse'
        '404':
          description: Game not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /fantasy/v2/games/ffl/news/players:
    get:
      tags:
        - Fantasy Football
      summary: Get Fantasy Football Player News
      description: Retrieve fantasy football news articles for players. Can be filtered by player ID.
      operationId: getFantasyPlayerNews
      servers:
        - url: https://site.api.espn.com/apis
          description: ESPN Site API Base Server
      parameters:
        - name: playerId
          in: query
          required: false
          description: Filter news by specific player ID
          schema:
            type: integer
            example: 3139477
        - name: limit
          in: query
          required: false
          description: Maximum number of news items to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FantasyPlayerNewsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sports/soccer/{league}/standings:
    get:
      summary: Get Soccer League Standings
      description: Retrieve current standings for a soccer league including table positions, points, and statistics
      operationId: getSoccerStandings
      servers:
        - url: https://site.api.espn.com/apis/v2
          description: ESPN Site API v2 Server
      parameters:
        - name: league
          in: path
          required: true
          description: The soccer league slug (e.g., eng.1, uefa.champions, esp.1, ger.1, ita.1, fra.1, usa.1)
          schema:
            type: string
            example: "eng.1"
        - name: season
          in: query
          required: false
          description: Season year (YYYY format)
          schema:
            type: integer
            example: 2024
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoccerStandingsResponse'
        '400':
          description: Bad request - Invalid league or season
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Standings not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    GenericScoreboardResponse:
      type: object
      description: Generic scoreboard response that works across all sports
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        season:
          $ref: '#/components/schemas/SeasonInfo'
          description: Season information (present in most sports)
        week:
          $ref: '#/components/schemas/WeekInfo'
          description: Week information (present in football sports)
        day:
          type: object
          description: Day information (present in baseball and basketball)
          properties:
            date:
              type: string
      required:
        - leagues
        - events

    TeamsListResponse:
      type: object
      properties:
        sports:
          type: array
          items:
            $ref: '#/components/schemas/Sport'
      required:
        - sports

    Sport:
      type: object
      properties:
        id:
          type: string
          example: "20"
        uid:
          type: string
          example: "s:20"
        name:
          type: string
          example: "Football"
        slug:
          type: string
          example: "football"
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/SportLeague'
      required:
        - id
        - name
        - leagues

    SportLeague:
      type: object
      properties:
        id:
          type: string
          example: "28"
        uid:
          type: string
          example: "s:20~l:28"
        name:
          type: string
          example: "National Football League"
        abbreviation:
          type: string
          example: "NFL"
        shortName:
          type: string
          example: "NFL"
        slug:
          type: string
          example: "nfl"
        teams:
          type: array
          items:
            $ref: '#/components/schemas/TeamEntry'
        year:
          type: integer
          example: 2024
        season:
          type: object
          properties:
            year:
              type: integer
              example: 2024
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            displayName:
              type: string
              example: "2024-25"
            type:
              type: integer
              example: 2
      required:
        - id
        - name
        - teams

    TeamEntry:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/TeamDetail'
      required:
        - team

    TeamDetail:
      type: object
      properties:
        id:
          type: string
          example: "22"
        uid:
          type: string
          example: "s:20~l:28~t:22"
        slug:
          type: string
          example: "arizona-cardinals"
        abbreviation:
          type: string
          example: "ARI"
        displayName:
          type: string
          example: "Arizona Cardinals"
        shortDisplayName:
          type: string
          example: "Cardinals"
        name:
          type: string
          example: "Cardinals"
        nickname:
          type: string
          example: "Cardinals"
        location:
          type: string
          example: "Arizona"
        color:
          type: string
          example: "a4113e"
        alternateColor:
          type: string
          example: "000000"
        isActive:
          type: boolean
        isAllStar:
          type: boolean
        logos:
          type: array
          items:
            $ref: '#/components/schemas/TeamLogo'
        links:
          type: array
          items:
            $ref: '#/components/schemas/TeamLink'
      required:
        - id
        - displayName

    TeamLogo:
      type: object
      properties:
        href:
          type: string
          format: uri
        alt:
          type: string
        rel:
          type: array
          items:
            type: string
            example: "full"
        width:
          type: integer
          example: 500
        height:
          type: integer
          example: 500
      required:
        - href

    TeamLink:
      type: object
      properties:
        language:
          type: string
          example: "en-US"
        rel:
          type: array
          items:
            type: string
            example: "clubhouse"
        href:
          type: string
          format: uri
          example: "https://www.espn.com/nfl/team/_/name/ari/arizona-cardinals"
        text:
          type: string
          example: "Clubhouse"
        shortText:
          type: string
          example: "Clubhouse"
        isExternal:
          type: boolean
        isPremium:
          type: boolean
        isHidden:
          type: boolean
      required:
        - href
        - rel

    TeamDetailsResponse:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/TeamDetailsFull'
      required:
        - team

    TeamDetailsFull:
      type: object
      properties:
        id:
          type: string
          example: "12"
        uid:
          type: string
          example: "s:20~l:28~t:12"
        slug:
          type: string
          example: "kansas-city-chiefs"
        location:
          type: string
          example: "Kansas City"
        name:
          type: string
          example: "Chiefs"
        nickname:
          type: string
          example: "Chiefs"
        abbreviation:
          type: string
          example: "KC"
        displayName:
          type: string
          example: "Kansas City Chiefs"
        shortDisplayName:
          type: string
          example: "Chiefs"
        color:
          type: string
          example: "e31837"
        alternateColor:
          type: string
          example: "ffb612"
        isActive:
          type: boolean
        logos:
          type: array
          items:
            $ref: '#/components/schemas/TeamLogo'
        record:
          $ref: '#/components/schemas/TeamRecord'
        groups:
          $ref: '#/components/schemas/TeamGroups'
        links:
          type: array
          items:
            $ref: '#/components/schemas/TeamLink'
        franchise:
          $ref: '#/components/schemas/TeamFranchise'
        nextEvent:
          type: array
          items:
            type: object
        standingSummary:
          type: string
          example: "1st in AFC West"
      required:
        - id
        - displayName

    NBATeamRosterResponse:
      type: object
      description: Response for NBA team roster
      properties:
        timestamp:
          type: string
          format: date-time
          description: The timestamp of when the data was generated
        status:
          type: string
          description: The status of the response
        season:
          type: object
          properties:
            year:
              type: integer
            displayName:
              type: string
            type:
              type: integer
            name:
              type: string
        athletes:
          type: array
          description: List of players on the roster
          items:
            $ref: '#/components/schemas/RosterAthlete'
        coach:
          type: array
          description: List of coaches for the team
          items:
            $ref: '#/components/schemas/Coach'
        team:
          type: object
          properties:
            id:
              type: string
            abbreviation:
              type: string
            location:
              type: string
            name:
              type: string
            displayName:
              type: string
            shortDisplayName:
              type: string
            links:
              type: array
              items:
                $ref: '#/components/schemas/Link'

    TeamRecord:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TeamRecordItem'

    TeamRecordItem:
      type: object
      properties:
        type:
          type: string
          example: "total"
        summary:
          type: string
          example: "15-2"
        description:
          type: string
          example: "Home Record"
        stats:
          type: array
          items:
            $ref: '#/components/schemas/TeamRecordStat'

    TeamRecordStat:
      type: object
      properties:
        name:
          type: string
          example: "wins"
        value:
          type: number
          example: 15.0

    TeamGroups:
      type: object
      properties:
        id:
          type: string
          example: "6"
        parent:
          type: object
          properties:
            id:
              type: string
              example: "8"
        isConference:
          type: boolean

    TeamFranchise:
      type: object
      properties:
        id:
          type: string
          example: "12"
        uid:
          type: string
          example: "s:20~l:28~f:12"
        slug:
          type: string
          example: "kansas-city-chiefs"
        location:
          type: string
          example: "Kansas City"
        name:
          type: string
          example: "Chiefs"
        nickname:
          type: string
          example: "Chiefs"
        abbreviation:
          type: string
          example: "KC"
        displayName:
          type: string
          example: "Kansas City Chiefs"
        shortDisplayName:
          type: string
          example: "Chiefs"
        color:
          type: string
          example: "e31837"
        isActive:
          type: boolean
        venue:
          $ref: '#/components/schemas/DetailedVenue'
        team:
          type: object
          properties:
            $ref:
              type: string
              format: uri

    DetailedVenue:
      type: object
      properties:
        id:
          type: string
          example: "3622"
        fullName:
          type: string
          example: "GEHA Field at Arrowhead Stadium"
        address:
          $ref: '#/components/schemas/Address'
        grass:
          type: boolean
        indoor:
          type: boolean
        images:
          type: array
          items:
            $ref: '#/components/schemas/VenueImage'

    VenueImage:
      type: object
      properties:
        href:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        alt:
          type: string
        rel:
          type: array
          items:
            type: string
            example: "full"

    Scoreboard:
      type: object
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/SeasonInfo'
        week:
          $ref: '#/components/schemas/WeekInfo'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
      required:
        - leagues
        - season
        - week
        - events

    League:
      type: object
      properties:
        id:
          type: string
          example: "28"
        uid:
          type: string
          example: "s:20~l:28"
        name:
          type: string
          example: "National Football League"
        abbreviation:
          type: string
          example: "NFL"
        slug:
          type: string
          example: "nfl"
        season:
          $ref: '#/components/schemas/LeagueSeason'
        logos:
          type: array
          items:
            $ref: '#/components/schemas/Logo'
        calendarType:
          type: string
          example: "list"
        calendarIsWhitelist:
          type: boolean
        calendarStartDate:
          type: string
          format: date-time
        calendarEndDate:
          type: string
          format: date-time
        calendar:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/CalendarItem'
              - type: string
      required:
        - id
        - name
        - season

    LeagueSeason:
      type: object
      properties:
        year:
          type: integer
          example: 2024
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        displayName:
          type: string
          example: "2024"
        type:
          $ref: '#/components/schemas/SeasonType'
      required:
        - year
        - type

    SeasonType:
      type: object
      properties:
        id:
          type: string
          example: "2"
        type:
          type: integer
          example: 2
        name:
          type: string
          example: "Regular Season"
        abbreviation:
          type: string
          example: "reg"
      required:
        - id
        - type
        - name

    CalendarItem:
      type: object
      properties:
        label:
          type: string
          example: "Regular Season"
        value:
          type: string
          example: "2"
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        entries:
          type: array
          items:
            $ref: '#/components/schemas/CalendarEntry'
      required:
        - label
        - value
        - startDate
        - endDate

    CalendarEntry:
      type: object
      properties:
        label:
          type: string
          example: "Week 1"
        alternateLabel:
          type: string
          example: "Week 1"
        detail:
          type: string
          example: "Sep 5-10"
        value:
          type: string
          example: "1"
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      required:
        - label
        - value
        - startDate
        - endDate

    SeasonInfo:
      type: object
      properties:
        type:
          type: integer
          example: 3
          description: "Season type (1=preseason, 2=regular, 3=postseason, 4=off-season)"
        year:
          type: integer
          example: 2024
      required:
        - type
        - year

    WeekInfo:
      type: object
      properties:
        number:
          type: integer
          example: 5
      required:
        - number

    Event:
      type: object
      properties:
        id:
          type: string
          example: "401671889"
        uid:
          type: string
          example: "s:20~l:28~e:401671889"
        date:
          type: string
          format: date-time
        name:
          type: string
          example: "Kansas City Chiefs at Philadelphia Eagles"
        shortName:
          type: string
          example: "KC VS PHI"
        season:
          $ref: '#/components/schemas/EventSeason'
        week:
          oneOf:
            - $ref: '#/components/schemas/EventWeek'
            - type: integer
              example: 1

        competitions:
          type: array
          items:
            $ref: '#/components/schemas/EventCompetition'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        status:
          $ref: '#/components/schemas/GameStatus'
      required:
        - id
        - date
        - competitions

    EventSeason:
      type: object
      properties:
        year:
          type: integer
          example: 2024
        type:
          type: integer
          example: 3
        slug:
          type: string
          example: "post-season"
      required:
        - year

    EventWeek:
      type: object
      properties:
        number:
          type: integer
          example: 5
      required:
        - number

    EventCompetition:
      type: object
      properties:
        id:
          type: string
          example: "401671889"
        uid:
          type: string
          example: "s:20~l:28~e:401671889~c:401671889"
        date:
          type: string
          format: date-time
        attendance:
          type: integer
          example: 65719
        type:
          $ref: '#/components/schemas/CompetitionType'
        timeValid:
          type: boolean
        neutralSite:
          type: boolean
        conferenceCompetition:
          type: boolean
        playByPlayAvailable:
          type: boolean
        recent:
          type: boolean
        venue:
          $ref: '#/components/schemas/Venue'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/Competitor'
        notes:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              headline:
                type: string
        status:
          $ref: '#/components/schemas/GameStatus'
        broadcasts:
          type: array
          items:
            $ref: '#/components/schemas/Broadcast'
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/CompetitionLeader'
        format:
          $ref: '#/components/schemas/GameFormat'
        startDate:
          type: string
          format: date-time
        broadcast:
          type: string
          example: "FOX"
        geoBroadcasts:
          type: array
          items:
            $ref: '#/components/schemas/GeoBroadcast'
        highlights:
          type: array
          items:
            type: object
        headlines:
          type: array
          items:
            $ref: '#/components/schemas/Headline'
      required:
        - id
        - date

    Broadcast:
      type: object
      properties:
        market:
          type: string
          example: "national"
        names:
          type: array
          items:
            type: string
            example: "FOX"
        type:
          type: object
          properties:
            id:
              type: string
              example: "1"
            shortName:
              type: string
              example: "TV"
        media:
          type: object
          properties:
            shortName:
              type: string
              example: "ESPN"
        lang:
          type: string
          example: "en"
        region:
          type: string
          example: "us"

    GeoBroadcast:
      type: object
      properties:
        type:
          type: object
          properties:
            id:
              type: string
              example: "1"
            shortName:
              type: string
              example: "TV"
        market:
          type: object
          properties:
            id:
              type: string
              example: "1"
            type:
              type: string
              example: "National"
        media:
          type: object
          properties:
            shortName:
              type: string
              example: "FOX"
        lang:
          type: string
          example: "en"
        region:
          type: string
          example: "us"
      required:
        - type
        - market

    Headline:
      type: object
      properties:
        type:
          type: string
          example: "Recap"
        description:
          type: string
        shortLinkText:
          type: string
      required:
        - type

    CompetitionLeader:
      type: object
      properties:
        name:
          type: string
          example: "passingYards"
        displayName:
          type: string
          example: "Passing Leader"
        shortDisplayName:
          type: string
          example: "PASS"
        abbreviation:
          type: string
          example: "PYDS"
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/LeaderPerformance'
      required:
        - name
        - displayName
        - leaders

    LeaderPerformance:
      type: object
      properties:
        displayValue:
          type: string
          example: "21/32, 257 YDS, 3 TD, 2 INT"
        value:
          type: number
          example: 257.0
        athlete:
          $ref: '#/components/schemas/Athlete'
        team:
          $ref: '#/components/schemas/Team'
      required:
        - displayValue
        - value
        - athlete

    GameSummary:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/GameHeader'
        gameInfo:
          $ref: '#/components/schemas/GameInfo'
        boxscore:
          $ref: '#/components/schemas/Boxscore'
        format:
          $ref: '#/components/schemas/GameFormat'
        plays:
          type: array
          items:
            $ref: '#/components/schemas/Play'
        drives:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Drive'
            - type: string
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/Leader'
        standings:
          type: object
          description: Relevant standings information

    GameHeader:
      type: object
      required:
        - id
        - uid
        - season
        - competitions
      properties:
        id:
          type: string
          description: Unique identifier for the game
          example: "401547417"
        uid:
          type: string
          description: Universal identifier for the game
          example: "s:20~l:28~e:401547417"
        season:
          $ref: '#/components/schemas/Season'
        week:
          type: integer
          description: Week number in the season
        timeValid:
          type: boolean
          description: Whether the game time is valid
        competitions:
          type: array
          items:
            $ref: '#/components/schemas/Competition'

    Season:
      type: object
      required:
        - year
        - type
      properties:
        year:
          type: integer
          example: 2023
        type:
          type: integer
          description: Season type (1=preseason, 2=regular, 3=postseason)
          example: 3
        slug:
          type: string
          example: "post-season"
        name:
          type: string
          description: Season name (e.g., "Regular Season", "Postseason")
          example: "Postseason"
        displayName:
          type: string
          description: Display name of the season (e.g., "2024-25")
          example: "2024-25"
        half:
          type: integer
          description: Season half (1 or 2, primarily for basketball)

    Competition:
      type: object
      required:
        - id
        - uid
        - date
        - competitors
      properties:
        id:
          type: string
          example: "401547417"
        uid:
          type: string
          example: "s:20~l:28~e:401547417~c:401547417"
        date:
          type: string
          format: date-time
          example: "2023-02-12T23:30:00Z"
        attendance:
          type: integer
          example: 70048
        type:
          $ref: '#/components/schemas/CompetitionType'
        timeValid:
          type: boolean
        neutralSite:
          type: boolean
        conferenceCompetition:
          type: boolean
        playByPlayAvailable:
          type: boolean
        recent:
          type: boolean
        venue:
          $ref: '#/components/schemas/Venue'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/Competitor'
        notes:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/GameStatus'

    CompetitionType:
      type: object
      properties:
        id:
          type: string
          example: "3"
        text:
          type: string
          example: "Postseason"
        abbreviation:
          type: string
          example: "POST"

    Venue:
      type: object
      properties:
        id:
          type: string
          example: "1"
        fullName:
          type: string
          example: "State Farm Stadium"
        address:
          $ref: '#/components/schemas/Address'
        capacity:
          type: integer
          example: 63400
        grass:
          type: boolean
        indoor:
          type: boolean
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'

    Address:
      type: object
      properties:
        city:
          type: string
          example: "Glendale"
        state:
          type: string
          example: "Arizona"
        country:
          type: string
          example: "USA"

    Competitor:
      type: object
      required:
        - id
        - order
      properties:
        id:
          type: string
          example: "21"
        uid:
          type: string
          example: "s:20~l:28~t:21"
        type:
          type: string
          example: "team"
        order:
          type: integer
        homeAway:
          type: string
          enum: [home, away]
          description: Home/away designation for team sports (not present in individual sports like golf)
        winner:
          type: boolean
        team:
          $ref: '#/components/schemas/Team'
          description: Team information for team sports
        athlete:
          $ref: '#/components/schemas/Athlete'
          description: Athlete information for individual sports like golf, tennis
        score:
          type: string
          example: "35"
        linescores:
          type: array
          items:
            $ref: '#/components/schemas/Linescore'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'
        records:
          type: array
          items:
            $ref: '#/components/schemas/Record'

    Team:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: "21"
        uid:
          type: string
          example: "s:20~l:28~t:21"
        location:
          type: string
          example: "Philadelphia"
        name:
          type: string
          example: "Eagles"
        abbreviation:
          type: string
          example: "PHI"
        displayName:
          type: string
          example: "Philadelphia Eagles"
        shortDisplayName:
          type: string
          example: "Eagles"
        color:
          type: string
          example: "004C54"
        alternateColor:
          type: string
          example: "000000"
        isActive:
          type: boolean
        venue:
          type: object
          properties:
            id:
              type: string
        logo:
          type: string
          format: uri
          example: "https://a.espncdn.com/i/teamlogos/nfl/500/phi.png"
        logos:
          type: array
          items:
            $ref: '#/components/schemas/Logo'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    Logo:
      type: object
      properties:
        href:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        alt:
          type: string
        rel:
          type: array
          items:
            type: string

    Linescore:
      type: object
      properties:
        value:
          type: number
          description: Points scored in this period

    Statistic:
      type: object
      properties:
        name:
          oneOf:
            - $ref: '#/components/schemas/NflStatisticName'
            - $ref: '#/components/schemas/MlbStatisticName'
            - $ref: '#/components/schemas/NhlStatisticName'
            - $ref: '#/components/schemas/NbaStatisticName'
            - $ref: '#/components/schemas/SoccerStatisticName'
        displayName:
          type: string
          example: "First Downs"
        shortDisplayName:
          type: string
        displayValue:
          type: string
          example: "27"
        value:
          type: number
          example: 27

    Record:
      type: object
      properties:
        name:
          type: string
          example: "overall"
        abbreviation:
          type: string
          example: "Total"
        type:
          type: string
          example: "total"
        summary:
          type: string
          example: "14-3"

    GameStatus:
      type: object
      required:
        - type
      properties:
        clock:
          type: number
          example: 0.0
        displayClock:
          type: string
          example: "0:00"
        period:
          type: integer
          example: 4
        type:
          $ref: '#/components/schemas/StatusType'

    StatusType:
      type: object
      properties:
        id:
          type: string
          example: "3"
        name:
          type: string
          example: "STATUS_FINAL"
        state:
          type: string
          enum: [pre, in, post]
          example: "post"
        completed:
          type: boolean
        description:
          type: string
          example: "Final"
        detail:
          type: string
          example: "Final"
        shortDetail:
          type: string
          example: "Final"

    GameInfo:
      type: object
      properties:
        venue:
          $ref: '#/components/schemas/Venue'
        officials:
          type: array
          items:
            $ref: '#/components/schemas/Official'
        attendance:
          type: integer
        weather:
          $ref: '#/components/schemas/Weather'

    Official:
      type: object
      properties:
        fullName:
          type: string
          example: "Carl Cheffers"
        displayName:
          type: string
          example: "C. Cheffers"
        position:
          type: string
          example: "Referee"
        order:
          type: integer

    Weather:
      type: object
      properties:
        temperature:
          type: integer
          example: 73
        condition:
          type: string
          example: "Clear"
        humidity:
          type: integer
          example: 45
        displayValue:
          type: string
          example: "Clear"

    Boxscore:
      type: object
      properties:
        teams:
          type: array
          items:
            $ref: '#/components/schemas/BoxscoreTeam'
        players:
          type: array
          items:
            $ref: '#/components/schemas/BoxscorePlayer'

    BoxscoreTeam:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/Statistic'

    BoxscorePlayer:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        players:
          type: array
          items:
            $ref: '#/components/schemas/PlayerStats'

    PlayerStats:
      type: object
      properties:
        athlete:
          $ref: '#/components/schemas/Athlete'
        stats:
          type: object
          additionalProperties:
            type: string

    Position:
      type: object
      properties:
        id:
          type: string
        name:
          oneOf:
            - $ref: '#/components/schemas/NFLPositionName'
            - $ref: '#/components/schemas/NBAPositionName'
            - $ref: '#/components/schemas/MLBPositionName'
            - $ref: '#/components/schemas/NHLPositionName'
        displayName:
          type: string
          description: Display name of the position
        abbreviation:
          type: string
          description: Position abbreviation
        items:
          type: array
          description: List of athletes in this position category
          items:
            $ref: '#/components/schemas/RosterAthlete'

    Headshot:
      type: object
      properties:
        href:
          type: string
          format: uri
        alt:
          type: string

    GameFormat:
      type: object
      properties:
        regulation:
          $ref: '#/components/schemas/GameFormatRegulation'
        overtime:
          $ref: '#/components/schemas/GameFormatOvertime'

    GameFormatRegulation:
      type: object
      properties:
        periods:
          type: integer
          example: 4

    GameFormatOvertime:
      type: object
      properties:
        periods:
          type: integer
        halfLength:
          type: boolean

    Play:
      type: object
      properties:
        id:
          type: string
        sequenceNumber:
          type: string
        type:
          $ref: '#/components/schemas/PlayType'
        text:
          type: string
        period:
          $ref: '#/components/schemas/PlayPeriod'
        clock:
          $ref: '#/components/schemas/PlayClock'

    PlayType:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        abbreviation:
          type: string

    PlayPeriod:
      type: object
      properties:
        number:
          type: integer
        displayValue:
          type: string

    PlayClock:
      type: object
      properties:
        value:
          type: integer
        displayValue:
          type: string

    Drive:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        sequenceNumber:
          type: string
        result:
          type: string
        playCount:
          type: integer
        yards:
          type: integer
        timeOfPossession:
          $ref: '#/components/schemas/DriveTimeOfPossession'

    DriveTimeOfPossession:
      type: object
      properties:
        displayValue:
          type: string

    Leader:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/LeaderCategory'

    LeaderCategory:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/LeaderEntry'

    LeaderEntry:
      type: object
      properties:
        displayValue:
          type: string
        value:
          type: number
        athlete:
          $ref: '#/components/schemas/Athlete'
        team:
          $ref: '#/components/schemas/Team'

    Image:
      type: object
      properties:
        href:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        alt:
          type: string
        rel:
          type: array
          items:
            type: string

    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
        text:
          type: string
        rel:
          type: array
          items:
            type: string
        isExternal:
          type: boolean
        isPremium:
          type: boolean

    NewsResponse:
      type: object
      properties:
        header:
          type: string
          example: "NFL News"
          description: Header title for the news feed
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        link:
          $ref: '#/components/schemas/Link'
      required:
        - header
        - articles
        - link

    Article:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the article
          example: 45184227
        nowId:
          type: string
          description: ID used for the 'now' platform
          example: "1-45184227"
        contentKey:
          type: string
          description: Content identification key
          example: "45184227-1-5-1"
        dataSourceIdentifier:
          type: string
          description: Data source identifier
          example: "7be1db4ba2243"
        type:
          type: string
          description: Type of article content
          example: "HeadlineNews"
          enum: ["HeadlineNews", "Media", "Story", "Recap"]
        headline:
          type: string
          description: Article headline
          example: "Ravens sign veteran nose tackle John Jenkins"
        description:
          type: string
          description: Brief summary of the article
          example: "The Ravens on Friday signed journeyman nose tackle John Jenkins, who most recently played two seasons for the Raiders."
        lastModified:
          type: string
          format: date-time
          description: Last time the article was modified
          example: "2025-05-17T01:27:10Z"
        published:
          type: string
          format: date-time
          description: When the article was published
          example: "2025-05-17T01:03:00Z"
        images:
          type: array
          description: Images associated with the article
          items:
            $ref: '#/components/schemas/ArticleImage'
        categories:
          type: array
          description: Categories the article belongs to
          items:
            $ref: '#/components/schemas/Category'
        premium:
          type: boolean
          description: Whether the article is premium content
          example: false
        links:
          $ref: '#/components/schemas/ArticleLinks'
        byline:
          type: string
          description: Author of the article
          example: "Jamison Hensley"
      required:
        - id
        - nowId
        - contentKey
        - dataSourceIdentifier
        - type
        - headline
        - description
        - lastModified
        - published
        - images
        - categories
        - premium
        - links
        - byline

    ArticleImage:
      type: object
      properties:
        dataSourceIdentifier:
          type: string
          description: Data source identifier for the image
          example: "3b206fdd0ebb6"
        id:
          type: integer
          description: Image identifier
          example: 45184155
        type:
          type: string
          description: Type of image
          example: "header"
        name:
          type: string
          description: Image name
          example: "John Jenkins [600x400]"
        credit:
          type: string
          description: Credit for the image
          example: "Abbie Parr/AP"
        height:
          type: integer
          description: Image height in pixels
          example: 400
        width:
          type: integer
          description: Image width in pixels
          example: 600
        url:
          type: string
          description: URL of the image
          example: "https://a.espncdn.com/photo/2025/0517/r1494212_600x400_3-2.jpg"
        caption:
          type: string
          description: Caption for the image
        alt:
          type: string
          description: Alt text for the image

    Category:
      type: object
      properties:
        id:
          type: integer
          description: Category identifier
          example: 409224
        type:
          type: string
          description: Type of category
          example: "topic"
          enum: ["topic", "athlete", "team", "contributor", "league", "guid", "editorialindicator", "podcast", "series"]
        guid:
          type: string
          format: uuid
          description: Global unique identifier
          example: "52313677-19f8-b106-ec91-d8d17e6087fe"
        description:
          type: string
          description: Description of the category
          example: "news"
        sportId:
          type: integer
          description: Sport identifier
          example: 28
        topicId:
          type: integer
          description: Topic identifier
          example: 781
        uid:
          type: string
          description: Unique identifier with format
          example: "s:20~l:28~a:15846"
        athleteId:
          type: integer
          description: Athlete identifier
          example: 15846
        athlete:
          $ref: '#/components/schemas/Athlete'
        teamId:
          type: integer
          description: Team identifier
          example: 33
        team:
          $ref: '#/components/schemas/Team'
        slug:
          type: string
          description: URL slug
          example: "jamison-hensley"
        contributor:
          $ref: '#/components/schemas/Contributor'
        leagueId:
          type: integer
          description: League identifier
          example: 28
        league:
          $ref: '#/components/schemas/League'
      required:
        - type
        - guid

    Athlete:
      type: object
      properties:
        id:
          type: integer
          description: Athlete identifier (may not be present in some contexts like golf scoreboards)
          example: 15846
        description:
          type: string
          description: Athlete name
          example: "John Jenkins"
        displayName:
          type: string
          description: Display name of the athlete
          example: "John Jenkins"
        fullName:
          type: string
          description: Full name of the athlete
          example: "John Jenkins"
        shortName:
          type: string
          description: Shortened name of the athlete
          example: "J. Jenkins"
        flag:
          type: object
          description: Country flag information
          properties:
            href:
              type: string
              description: URL to the flag image
            alt:
              type: string
              description: Country name
            rel:
              type: array
              items:
                type: string
        links:
          oneOf:
            - $ref: '#/components/schemas/AthleteLinks'
            - type: array
              items:
                $ref: '#/components/schemas/Link'

    AthleteLinks:
      type: object
      properties:
        web:
          oneOf:
            - $ref: '#/components/schemas/WebMobileLinks'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/WebMobileLinks'
            - type: string
              format: uri
      required:
        - web
        - mobile

    Coach:
      type: object
      description: Coach information
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        experience:
          type: integer
          description: Years of experience

    WebMobileLinks:
      type: object
      properties:
        athletes:
          $ref: '#/components/schemas/Link'
        teams:
          $ref: '#/components/schemas/Link'
        leagues:
          $ref: '#/components/schemas/Link'
        web:
          oneOf:
            - $ref: '#/components/schemas/Link'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/Link'
            - type: string
              format: uri

    Contributor:
      type: object
      properties:
        id:
          type: integer
          description: Contributor identifier
          example: 2078
        description:
          type: string
          description: Contributor name
          example: "Jamison Hensley"
        links:
          type: object
          properties:
            web:
              type: object
            mobile:
              type: object
      required:
        - id
        - description
        - links

    LeagueLinks:
      type: object
      properties:
        web:
          oneOf:
            - $ref: '#/components/schemas/WebMobileLinks'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/WebMobileLinks'
            - type: string
              format: uri
      required:
        - web
        - mobile

    ArticleLinks:
      type: object
      properties:
        web:
          $ref: '#/components/schemas/ArticleLink'
        mobile:
          $ref: '#/components/schemas/ArticleLink'
        api:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
        app:
          type: object
          properties:
            sportscenter:
              $ref: '#/components/schemas/Link'
      required:
        - web
        - mobile
        - api
        - app

    ArticleLink:
      type: object
      properties:
        href:
          type: string
          description: URL for the article
          example: "https://www.espn.com/nfl/story/_/id/45184227/baltimore-ravens-sign-veteran-nose-tackle-john-jenkins"
      required:
        - href

    NewsArticle:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the article
          example: 45184227
        nowId:
          type: string
          description: ID used for the 'now' platform
          example: "1-45184227"
        contentKey:
          type: string
          description: Content identification key
          example: "45184227-1-5-1"
        dataSourceIdentifier:
          type: string
          description: Data source identifier
          example: "7be1db4ba2243"
        type:
          type: string
          description: Type of article content
          example: "HeadlineNews"
          enum: ["HeadlineNews", "Media", "Story", "Recap", "Preview"]
        headline:
          type: string
          description: Article headline
          example: "Ravens sign veteran nose tackle John Jenkins"
        description:
          type: string
          description: Brief summary of the article
          example: "The Ravens on Friday signed journeyman nose tackle John Jenkins, who most recently played two seasons for the Raiders."
        lastModified:
          type: string
          format: date-time
          description: Last time the article was modified
          example: "2025-05-17T01:27:10Z"
        published:
          type: string
          format: date-time
          description: When the article was published
          example: "2025-05-17T01:03:00Z"
        images:
          type: array
          description: Images associated with the article
          items:
            $ref: '#/components/schemas/NewsArticleImage'
        categories:
          type: array
          description: Categories the article belongs to
          items:
            $ref: '#/components/schemas/NewsCategory'
        premium:
          type: boolean
          description: Whether the article is premium content
          example: false
        links:
          $ref: '#/components/schemas/NewsArticleLinks'
        byline:
          type: string
          description: Author of the article
          example: "Jamison Hensley"
      required:
        - id
        - nowId
        - contentKey
        - dataSourceIdentifier
        - type
        - headline
        - lastModified
        - published
        - images
        - categories
        - premium
        - links

    NewsArticleImage:
      type: object
      properties:
        dataSourceIdentifier:
          type: string
          description: Data source identifier for the image
          example: "3b206fdd0ebb6"
        id:
          type: integer
          description: Image identifier
          example: 45184155
        type:
          type: string
          description: Type of image
          example: "header"
        name:
          type: string
          description: Image name
          example: "John Jenkins [600x400]"
        credit:
          type: string
          description: Credit for the image
          example: "Abbie Parr/AP"
        height:
          type: integer
          description: Image height in pixels
          example: 400
        width:
          type: integer
          description: Image width in pixels
          example: 600
        url:
          type: string
          description: URL of the image
          example: "https://a.espncdn.com/photo/2025/0517/r1494212_600x400_3-2.jpg"
        caption:
          type: string
          description: Caption for the image
        alt:
          type: string
          description: Alt text for the image

    NewsCategory:
      type: object
      properties:
        id:
          type: integer
          description: Category identifier
          example: 409224
        type:
          type: string
          description: Type of category
          example: "topic"
          enum: ["topic", "athlete", "team", "contributor", "league", "guid", "editorialindicator", "podcast", "series"]
        guid:
          type: string
          format: uuid
          description: Global unique identifier
          example: "52313677-19f8-b106-ec91-d8d17e6087fe"
        description:
          type: string
          description: Description of the category
          example: "news"
        sportId:
          type: integer
          description: Sport identifier
          example: 28
        topicId:
          type: integer
          description: Topic identifier
          example: 781
        uid:
          type: string
          description: Unique identifier with format
          example: "s:20~l:28~a:15846"
        athleteId:
          type: integer
          description: Athlete identifier
          example: 15846
        athlete:
          $ref: '#/components/schemas/NewsAthlete'
        teamId:
          type: integer
          description: Team identifier
          example: 33
        team:
          $ref: '#/components/schemas/NewsTeam'
        slug:
          type: string
          description: URL slug
          example: "jamison-hensley"
        contributor:
          $ref: '#/components/schemas/NewsContributor'
        leagueId:
          type: integer
          description: League identifier
          example: 28
        league:
          $ref: '#/components/schemas/NewsLeague'
      required:
        - type
        - guid

    NewsAthlete:
      type: object
      properties:
        id:
          type: integer
          description: Athlete identifier
          example: 15846
        description:
          type: string
          description: Athlete name
          example: "John Jenkins"
        links:
          $ref: '#/components/schemas/NewsAthleteLinks'
      required:
        - id
        - description
        - links

    NewsAthleteLinks:
      type: object
      properties:
        web:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
      required:
        - web
        - mobile

    NewsWebMobileLinks:
      type: object
      properties:
        athletes:
          $ref: '#/components/schemas/NewsLinkItem'
        teams:
          $ref: '#/components/schemas/NewsLinkItem'
        leagues:
          $ref: '#/components/schemas/NewsLinkItem'

    NewsContributor:
      type: object
      properties:
        id:
          type: integer
          description: Contributor identifier
          example: 2078
        description:
          type: string
          description: Contributor name
          example: "Jamison Hensley"
        links:
          type: object
          properties:
            web:
              type: object
            mobile:
              type: object
      required:
        - id
        - description

    NewsTeam:
      type: object
      properties:
        id:
          type: integer
          description: Team identifier
          example: 33
        description:
          type: string
          description: Team name
          example: "Baltimore Ravens"
        links:
          $ref: '#/components/schemas/NewsTeamLinks'
      required:
        - id
        - description

    NewsTeamLinks:
      type: object
      properties:
        web:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
      required:
        - web
        - mobile

    NewsLeague:
      type: object
      properties:
        id:
          type: integer
          description: League identifier
          example: 28
        description:
          type: string
          description: League name
          example: "NFL"
        abbreviation:
          type: string
          description: League abbreviation
          example: "NFL"
        links:
          $ref: '#/components/schemas/NewsLeagueLinks'
      required:
        - id
        - description

    NewsLeagueLinks:
      type: object
      properties:
        web:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
        mobile:
          oneOf:
            - $ref: '#/components/schemas/NewsWebMobileLinks'
            - type: string
              format: uri
      required:
        - web
        - mobile

    NewsArticleLinks:
      type: object
      properties:
        web:
          $ref: '#/components/schemas/NewsArticleLink'
        mobile:
          $ref: '#/components/schemas/NewsArticleLink'
        api:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/NewsLinkItem'
        app:
          type: object
          properties:
            sportscenter:
              $ref: '#/components/schemas/NewsLinkItem'

    NewsArticleLink:
      type: object
      properties:
        href:
          type: string
          description: URL for the article
          example: "https://www.espn.com/nfl/story/_/id/45184227/baltimore-ravens-sign-veteran-nose-tackle-john-jenkins"
      required:
        - href

    NewsLink:
      type: object
      properties:
        language:
          type: string
          description: Language of the content
          example: "en"
        rel:
          type: array
          items:
            type: string
          description: Relationship types
          example: ["index", "desktop", "league"]
        href:
          type: string
          description: URL for the link
          example: "https://www.espn.com/nfl/"
        text:
          type: string
          description: Display text for the link
          example: "All NFL News"
        shortText:
          type: string
          description: Short display text for the link
          example: "All News"
        isExternal:
          type: boolean
          description: Whether the link is external
          example: false
        isPremium:
          type: boolean
          description: Whether the linked content is premium
          example: false
      required:
        - href

    NewsLinkItem:
      type: object
      properties:
        href:
          type: string
          description: URL for the link
          example: "https://www.espn.com/nfl/player/_/id/15846/john-jenkins"
      required:
        - href

    Conference:
      type: object
      properties:
        uid:
          type: string
          example: "s:20~l:28~g:8"
        id:
          type: string
          example: "8"
        name:
          type: string
          example: "American Football Conference"
        abbreviation:
          type: string
          example: "AFC"
        isConference:
          type: boolean
          example: true
        standings:
          $ref: '#/components/schemas/StandingGroup'
      required:
        - id
        - standings

    StandingGroup:
      type: object
      properties:
        id:
          type: string
          example: "0"
        name:
          type: string
          example: "overall"
        displayName:
          type: string
          example: "Standings"
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        season:
          type: integer
          example: 2024
        seasonType:
          type: integer
          example: 2
        seasonDisplayName:
          type: string
          example: "2024"
        entries:
          type: array
          items:
            $ref: '#/components/schemas/StandingEntry'
      required:
        - entries
        - season
        - seasonType

    StandingEntry:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        stats:
          type: array
          items:
            $ref: '#/components/schemas/StatisticEntry'
      required:
        - team
        - stats

    StatisticEntry:
      type: object
      properties:
        name:
          type: string
          description: "Name of the statistic (varies by sport)"
          # Note: Removed enum to support multiple sports
          # Common values by sport:
          # NFL: passing, rushing, receiving, fumbles, defensive, etc.
          # Soccer: gamesPlayed, goals, assists, points, wins, losses, ties, etc.
          # NBA: points, rebounds, assists, steals, blocks, etc.
          # MLB: hits, runs, rbi, homeRuns, strikeouts, etc.
          example: "wins"
        displayName:
          type: string
          example: "Clincher"
          description: "Display name of the statistic"
        shortDisplayName:
          type: string
          example: "CLINCH"
          description: "Short display name of the statistic"
        description:
          type: string
          example: "Clinched Division"
          description: "Description of the statistic"
        abbreviation:
          type: string
          example: "CLINCH"
          description: "Abbreviation of the statistic"
        type:
          type: string
          example: "clincher"
          description: "Type of the statistic"
        value:
          type: number
          example: 0.0
          description: "Numerical value of the statistic"
        displayValue:
          type: string
          example: "z"
          description: "Displayable value of the statistic"
      required:
        - name
        - type

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string

    TeamRosterResponse:
      type: object
      description: The response for a team roster request
      properties:
        timestamp:
          type: string
          format: date-time
          description: The timestamp of when the data was generated
        status:
          type: string
          description: The status of the response
        season:
          $ref: '#/components/schemas/Season'
        team:
          $ref: '#/components/schemas/Team'
        coach:
          type: array
          description: List of coaches for the team
          items:
            $ref: '#/components/schemas/Coach'
        athletes:
          type: array
          description: List of athletes or position groups depending on sport
          items:
            oneOf:
              - $ref: '#/components/schemas/PositionGroup'
              - $ref: '#/components/schemas/RosterAthlete'

    PositionGroup:
      type: object
      description: Group of athletes by position category
      required:
        - position
        - items
      properties:
        position:
          type: string
          description: Position category name (e.g., offense, defense, Pitcher, Forward)
        items:
          type: array
          description: List of athletes in this position category
          items:
            $ref: '#/components/schemas/RosterAthlete'

    RosterAthlete:
      type: object
      description: Athlete information for team roster
      properties:
        id:
          type: string
          description: Unique identifier for the athlete
        uid:
          type: string
          description: Unique identifier in the format s:xx~l:xx~a:xxxxxxx
        guid:
          type: string
          description: Global unique identifier
        alternateIds:
          type: object
          properties:
            sdr:
              type: string
          description: Alternative IDs for the athlete
        firstName:
          type: string
          description: Athlete's first name
        lastName:
          type: string
          description: Athlete's last name
        fullName:
          type: string
          description: Athlete's full name
        displayName:
          type: string
          description: Athlete's display name
        shortName:
          type: string
          description: Athlete's short name
        weight:
          type: number
          description: Athlete's weight in pounds
        displayWeight:
          type: string
          description: Athlete's weight as a formatted string
        height:
          type: number
          description: Athlete's height in inches
        displayHeight:
          type: string
          description: Athlete's height as a formatted string
        age:
          type: integer
          description: Athlete's age
        dateOfBirth:
          type: string
          format: date-time
          description: Athlete's date of birth
        birthPlace:
          type: object
          properties:
            city:
              type: string
              description: Birth city
            state:
              type: string
              description: Birth state
            country:
              type: string
              description: Birth country
        links:
          type: array
          description: URLs related to the athlete
          items:
            $ref: '#/components/schemas/Link'
        college:
          $ref: '#/components/schemas/College'
        slug:
          type: string
          description: URL slug for the athlete
        headshot:
          type: object
          properties:
            href:
              type: string
              description: URL for athlete's headshot
            alt:
              type: string
              description: Alt text for headshot image
        jersey:
          type: string
          description: Athlete's jersey number
        position:
          oneOf:
            - type: string
              description: Position category (e.g., offense, defense)
            - $ref: '#/components/schemas/Position'
        injuries:
          type: array
          description: Current injuries for the athlete
          items:
            $ref: '#/components/schemas/Injury'
        teams:
          type: array
          description: Teams associated with the athlete
          items:
            type: object
            properties:
              $ref:
                type: string
                description: Reference to team information
        contracts:
          type: array
          description: Contract information
          items:
            type: object
        experience:
          type: object
          properties:
            years:
              type: integer
              description: Number of years of experience
        status:
          type: object
          properties:
            id:
              type: string
              description: Status ID
            name:
              type: string
              description: Status name (e.g., Active)
            type:
              type: string
              description: Status type
            abbreviation:
              type: string
              description: Status abbreviation

    Injury:
      type: object
      description: Athlete injury information
      properties:
        status:
          type: string
          description: Injury status (e.g., Questionable, Out)
        date:
          type: string
          format: date-time
          description: Date of injury status update

    College:
      type: object
      description: Information about athlete's college
      properties:
        id:
          type: string
          description: College ID
        mascot:
          type: string
          description: College team mascot
        name:
          type: string
          description: College name
        shortName:
          type: string
          description: Short name of the college
        abbrev:
          type: string
          description: Abbreviation of the college
        logos:
          type: array
          description: College logos
          items:
            $ref: '#/components/schemas/Logo'

    SportNewsAPISchema:
      type: object
      properties:
        header:
          type: string
          example: "NFL News"
          description: Header title for the news feed
        articles:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticle'
        link:
          $ref: '#/components/schemas/NewsLink'
      required:
        - header
        - articles
        - link

    NFLTeamScheduleResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: string
        season:
          $ref: '#/components/schemas/Season'
        team:
          $ref: '#/components/schemas/TeamDetailsFull'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        requestedSeason:
          $ref: '#/components/schemas/Season'
        byeWeek:
          type: integer
      required:
        - timestamp
        - status
        - season
        - team
        - events
        - requestedSeason
        - byeWeek
      description: NFL team schedule response, including all games for the team in the specified season.

    TeamScheduleResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: string
        season:
          $ref: '#/components/schemas/Season'
        team:
          $ref: '#/components/schemas/TeamDetailsFull'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        requestedSeason:
          $ref: '#/components/schemas/Season'
        byeWeek:
          type: integer
          description: Week number of the team's bye week (NFL only)
      required:
        - timestamp
        - status
        - season
        - team
        - events
      description: Generic team schedule response, including all games for the team in the specified season. The byeWeek field is only present for NFL teams.

    MondayNightFootballResponse:
      type: object
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/SeasonInfo'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
      required:
        - leagues
        - season
        - events

    ThursdayNightFootballResponse:
      type: object
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/SeasonInfo'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
      required:
        - leagues
        - season
        - events

    SundayNightFootballResponse:
      type: object
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/SeasonInfo'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
      required:
        - leagues
        - season
        - events

    MlbScoreboardResponse:
      type: object
      properties:
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/League'
        season:
          $ref: '#/components/schemas/SeasonInfo'
        day:
          type: object
          properties:
            date:
              type: string
              format: date
          required:
            - date
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
      required:
        - leagues
        - events
      description: MLB scoreboard response, including all games for the specified date(s).

    SportEnum:
      type: string
      description: Common sport identifiers used in ESPN APIs.
      enum:
        - football
        - basketball
        - baseball
        - hockey
        - soccer
        - golf
        - racing
        - tennis
    LeagueEnum:
      type: string
      description: Common league identifiers used in ESPN APIs.
      enum:
        - nfl
        - mlb
        - nba
        - nhl
        - wnba
        - mens-college-basketball
        - womens-college-basketball
        - college-football
        - college-baseball
        - college-softball
        - pga
        - lpga
        - f1
        - nascar-premier
        - atp
        - wta
        - mls
        - epl
        - laliga
        - bundesliga
        - serie-a
        - ligue-1
        - ucl
        - europa-league
        - other
    
    NFLTeamAbbreviation:
      type: string
      description: NFL team abbreviations
      enum:
        - ARI
        - ATL
        - BAL
        - BUF
        - CAR
        - CHI
        - CIN
        - CLE
        - DAL
        - DEN
        - DET
        - GB
        - HOU
        - IND
        - JAX
        - KC
        - LAC
        - LAR
        - LV
        - MIA
        - MIN
        - NE
        - NO
        - NYG
        - NYJ
        - PHI
        - PIT
        - SEA
        - SF
        - TB
        - TEN
        - WSH
    
    NBATeamAbbreviation:
      type: string
      description: NBA team abbreviations
      enum:
        - ATL
        - BKN
        - BOS
        - CHA
        - CHI
        - CLE
        - DAL
        - DEN
        - DET
        - GS
        - HOU
        - IND
        - LAC
        - LAL
        - MEM
        - MIA
        - MIL
        - MIN
        - NO
        - NY
        - OKC
        - ORL
        - PHI
        - PHX
        - POR
        - SA
        - SAC
        - TOR
        - UTAH
        - WSH
    
    MLBTeamAbbreviation:
      type: string
[...]
