openapi: 3.0.3
info:
  title: ESPN Sports Core API
  version: 1.0.0
  description: Unofficial ESPN Sports Core API for retrieving detailed sports data from sports.core.api.espn.com. This API is not officially supported by ESPN and may change without notice.

servers:
  - url: https://sports.core.api.espn.com
    description: ESPN Sports Core API Production Server
  - url: https://now.core.api.espn.com
    description: ESPN Now Core API Production Server

paths:
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}:
    get:
      summary: Get Athlete Details
      description: Retrieve detailed information for a specific athlete in any supported sport/league.
      operationId: getAthleteDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteDetailsResponse'
        '404':
          description: Athlete not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes:
    get:
      summary: List Athletes
      description: Retrieve a paginated list of athletes for a specific sport and league.
      operationId: getAthletesList
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey, soccer)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl, eng.1)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: pageIndex
          in: query
          required: false
          description: Page index for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Page size for pagination
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
            example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthletesListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Sport or league not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statistics:
    get:
      summary: Get Athlete Statistics
      description: Retrieve detailed statistics for a specific athlete in any supported sport/league. Query parameters allow filtering by season, week, and season type.
      operationId: getAthleteStatistics
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
        - name: limit
          in: query
          required: false
          description: Limit the number of statistics returned
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: seasontype
          in: query
          required: false
          description: The season type (e.g., 1=preseason, 2=regular, 3=postseason)
          schema:
            type: integer
            enum: [1, 2, 3]
        - name: year
          in: query
          required: false
          description: The year/season to filter statistics for
          schema:
            type: integer
            minimum: 1900
            maximum: 2100
        - name: week
          in: query
          required: false
          description: The week number to filter statistics for
          schema:
            type: integer
            minimum: 1
            maximum: 30
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsResponse'
        '404':
          description: Athlete statistics not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statisticslog:
    get:
      summary: Get Athlete Statistics Log
      description: Retrieve log of statistics for a specific athlete across games/seasons in any supported sport/league.
      operationId: getAthleteStatisticsLog
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsLogResponse'
        '404':
          description: Athlete statistics log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statistics/{categoryId}:
    get:
      summary: Get Athlete Statistics by Category
      description: Retrieve detailed statistics for a specific athlete broken down by statistical categories (e.g., passing, rushing, receiving for football; batting, fielding for baseball).
      operationId: getAthleteStatisticsByCategory
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
        - name: categoryId
          in: path
          required: true
          description: The statistical category ID (usually "0" for all categories)
          schema:
            type: string
            example: "0"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsByCategoryResponse'
        '404':
          description: Athlete statistics not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/contracts:
    get:
      summary: Get Athlete Contracts
      description: Retrieve contract information for a specific athlete. Returns a list of contracts by year.
      operationId: getAthleteContracts
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "1966"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteContractsResponse'
        '404':
          description: Athlete not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/contracts/{year}:
    get:
      summary: Get Athlete Contract for Specific Year
      description: Retrieve detailed contract information for a specific athlete in a specific year.
      operationId: getAthleteContractByYear
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "1966"
        - name: year
          in: path
          required: true
          description: The year of the contract
          schema:
            type: string
            example: "2024"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteContract'
        '404':
          description: Contract not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/athletes/{athleteId}/notes:
    get:
      summary: Get Athlete Season Notes
      description: Retrieve notes for a specific athlete in a specific season. Notes typically include news updates, injury reports, and other relevant information.
      operationId: getAthleteSeasonNotes
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year
          schema:
            type: string
            example: "2025"
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "3139477"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteNotesResponse'
        '404':
          description: Athlete or season not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/athletes/{athleteId}/eventlog:
    get:
      summary: Get Athlete Event Log
      description: Retrieve the event log for a specific athlete in a given season. Shows all events/games the athlete participated in during the season.
      operationId: getAthleteEventlog
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey, golf)
          schema:
            type: string
            example: golf
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl, pga)
          schema:
            type: string
            example: pga
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: athleteId
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "388"
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteEventlogResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}:
    get:
      summary: Get League Information
      description: Retrieve detailed information about a specific league, including current season, teams, franchises, and other league-specific data.
      operationId: getLeagueInfo
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl, college-football, mens-college-basketball)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueInfoResponse'
        '404':
          description: League not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/calendar:
    get:
      summary: Get League Calendar
      description: Retrieve the calendar for a given league and sport (e.g., NFL, NBA, etc). Returns a list of calendar resource references.
      operationId: getLeagueCalendar
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/venues:
    get:
      summary: Get League Venues
      description: Retrieve the list of venues for a given league and sport. Returns a paginated list of venue resource references.
      operationId: getLeagueVenues
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/franchises:
    get:
      summary: Get League Franchises
      description: Retrieve the list of franchises for a given league and sport. Returns a paginated list of franchise resource references.
      operationId: getLeagueFranchises
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons:
    get:
      summary: Get League Seasons
      description: Retrieve the list of seasons for a given league and sport. Returns a paginated list of season resource references.
      operationId: getLeagueSeasons
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasonType}/weeks:
    get:
      summary: Get League Season Weeks
      description: Retrieve the list of weeks for a given season and season type in a league and sport. Returns a paginated list of week resource references.
      operationId: getLeagueSeasonWeeks
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasonType
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasonType}/groups:
    get:
      summary: Get League Season Groups
      description: Retrieve the list of groups (conferences/divisions) for a given season and season type in a league and sport. Returns a paginated list of group resource references.
      operationId: getLeagueSeasonGroups
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasonType
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasonType}/corrections:
    get:
      summary: Get League Season Stat Corrections
      description: Retrieve the list of statistical corrections for a given season and season type in a league and sport. Returns a paginated list of stat correction records.
      operationId: getLeagueSeasonCorrections
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasonType
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatCorrectionsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasonType}/groups/{groupId}:
    get:
      summary: Get League Season Group Details
      description: Retrieve detailed information for a specific group (conference/division) in a given season and season type.
      operationId: getLeagueSeasonGroupDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasonType
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: groupId
          in: path
          required: true
          description: The group ID (e.g., 7=NFC, 8=AFC for NFL)
          schema:
            type: string
            example: "7"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events:
    get:
      summary: Get League Events
      description: Retrieve the list of events for a given league and sport. Returns a paginated list of event resource references.
      operationId: getLeagueEvents
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: week
          in: query
          required: false
          description: Filter by week number
          schema:
            type: integer
            example: 1
        - name: season
          in: query
          required: false
          description: Filter by season year
          schema:
            type: integer
            example: 2024
        - name: seasontypes
          in: query
          required: false
          description: Filter by season type(s) (comma-separated)
          schema:
            type: string
            example: "2"
        - name: dates
          in: query
          required: false
          description: Filter by date or date range (YYYYMMDD for single date, YYYYMMDD-YYYYMMDD for date range, YYYY for full season)
          schema:
            type: string
            example: "20250301-20250302"
        - name: limit
          in: query
          required: false
          description: Maximum number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
            example: 25
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{eventId}:
    get:
      summary: Get League Event Details
      description: Retrieve detailed information for a specific event in a league and sport.
      operationId: getLeagueEventDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: eventId
          in: path
          required: true
          description: The event ID
          schema:
            type: string
            example: "401772510"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/events/{eventId}/competitions/{competitionId}/drives:
    get:
      summary: Get Drives for a Competition
      description: Retrieve all drives for a given NFL event/competition.
      operationId: getNFLCompetitionDrives
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrivesListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/events/{eventId}/competitions/{competitionId}/plays:
    get:
      summary: Get Plays for a Competition
      description: Retrieve all plays for a given NFL event/competition.
      operationId: getNFLCompetitionPlays
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaysListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/leaders:
    get:
      summary: Get NFL League Leaders
      description: Retrieve league leaders for various statistical categories in the NFL.
      operationId: getNFLLeaders
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of leader entries to return per category
          schema:
            type: integer
            example: 10
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflLeadersResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/leaders:
    get:
      summary: Get NFL Leaders for a Season and Type
      description: Retrieve league leaders for various statistical categories in the NFL for a specific season and season type (e.g., regular, postseason).
      operationId: getNFLSeasonTypeLeaders
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason)
          schema:
            type: integer
            example: 2
        - name: limit
          in: query
          required: false
          description: Maximum number of leader entries to return per category
          schema:
            type: integer
            example: 10
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflLeadersResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/teams/{team_id}:
    get:
      summary: Get NFL Team Details for a Season
      description: Retrieve detailed information for a specific NFL team in a given season (core API).
      operationId: getNflSeasonTeam
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 12)
          schema:
            type: string
            example: "12"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreNflSeasonTeamResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/teams/{team_id}/injuries:
    get:
      summary: Get Team Injuries
      description: Retrieve a paginated list of injury references for a specific team.
      operationId: getTeamInjuries
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport (e.g., football, basketball, baseball, hockey)
          schema:
            type: string
            example: "football"
        - name: league
          in: path
          required: true
          description: The league (e.g., nfl, nba, mlb, nhl)
          schema:
            type: string
            example: "nfl"
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 12)
          schema:
            type: string
            example: "12"
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return
          schema:
            type: integer
            example: 100
        - name: pageIndex
          in: query
          required: false
          description: Page index for pagination
          schema:
            type: integer
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Page size for pagination
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReferenceListResponse'
        '404':
          description: Team not found or no injuries available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'


  /v2/sports/football/leagues/nfl/seasons/{year}/draft:
    get:
      summary: Get NFL Draft for a Season
      description: Retrieve NFL Draft data for a specific season, including rounds, athletes, positions, and team needs.
      operationId: getNflDraft
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/teams/{team_id}/depthcharts:
    get:
      summary: Get NFL Team Depth Chart
      description: Retrieve the depth chart for a specific NFL team in a given season (core API).
      operationId: getNflTeamDepthchart
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: team_id
          in: path
          required: true
          description: The team ID (e.g., 2)
          schema:
            type: string
            example: "2"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflTeamDepthchartResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasontype}/teams/{teamId}/attendance:
    get:
      summary: Get Team Attendance
      description: Retrieve attendance statistics for a specific team in a given season.
      operationId: getTeamAttendance
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular season, 3=postseason)
          schema:
            type: integer
            example: 2
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            example: "12"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamAttendanceResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasontype}/teams/{teamId}/record:
    get:
      summary: Get Team Record
      description: Retrieve detailed record information for a specific team in a given season, including overall, home/away, division, and conference records.
      operationId: getTeamRecord
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year
          schema:
            type: string
            example: "2024"
        - name: seasontype
          in: path
          required: true
          description: The season type (e.g., 2 for regular season)
          schema:
            type: string
            example: "2"
        - name: teamId
          in: path
          required: true
          description: The team ID or abbreviation
          schema:
            type: string
            example: "12"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamRecordResponse'
        '404':
          description: Team or season not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasontype}/teams/{teamId}/leaders:
    get:
      summary: Get Team Leaders
      description: Retrieve statistical leaders for a specific team in a given season.
      operationId: getTeamLeaders
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular season, 3=postseason)
          schema:
            type: integer
            example: 2
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            example: "12"
        - name: limit
          in: query
          required: false
          description: Limit the number of results
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamLeadersResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasontype}/teams/{teamId}/ats:
    get:
      summary: Get Team ATS Records
      description: |
        Retrieve Against The Spread (ATS) records for a specific team in a given season.
        
        **Note**: This endpoint is only supported for sports with variable point spreads (NFL, NBA).
        MLB and NHL will return 500 errors as they use fixed spreads (run line and puck line respectively).
      operationId: getTeamAtsRecords
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular season, 3=postseason)
          schema:
            type: integer
            example: 2
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            example: "12"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamAtsRecordsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/types/{seasontype}/teams/{teamId}/odds-records:
    get:
      summary: Get Team Odds Records
      description: |
        Retrieve comprehensive odds records for a specific team in a given season, including money line 
        and spread performance broken down by various categories (overall, home, away, underdog, favorite).
        
        **Supported Sports**: NFL, NBA, MLB, College Football, Men's College Basketball
        **Not Supported**: NHL, WNBA (return 404)
      operationId: getTeamOddsRecords
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasontype
          in: path
          required: true
          description: The season type (typically 0 for odds records)
          schema:
            type: integer
            example: 0
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            example: "12"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamOddsRecordsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/athletes/{athlete_id}/eventlog:
    get:
      summary: Get NFL Athlete Event Log
      description: Retrieve the event log for a specific NFL athlete in a given season (core API).
      operationId: getNflAthleteEventlog
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: athlete_id
          in: path
          required: true
          description: The athlete ID (e.g., 3139477)
          schema:
            type: string
            example: "3139477"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflAthleteEventlogResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/draft/rounds:
    get:
      summary: Get NFL Draft Rounds
      description: Retrieve all rounds and picks for the NFL draft for a given season (core API).
      operationId: getNflDraftRounds
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftRoundsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/draft/athletes/{athlete_id}:
    get:
      summary: Get Draft Athlete Details
      description: Retrieve details for a specific draft athlete for any supported sport/league (core API). Currently supported for NFL and NBA.
      operationId: getDraftAthlete
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: athlete_id
          in: path
          required: true
          description: The draft athlete ID (e.g., 106308 for NFL, 106535 for NBA)
          schema:
            type: string
            example: "106308"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftAthleteResponse'
        '404':
          description: Draft athlete not found or sport/league does not support draft data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/draft/status:
    get:
      summary: Get Draft Status
      description: Retrieve the current status of the draft for a specific sport, league, and season. Includes the current round and draft type/state information.
      operationId: getDraftStatus
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftStatusResponse'
        '404':
          description: Draft status not found or sport/league does not support draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/coaches:
    get:
      summary: Get Season Coaches List
      description: Retrieve a paginated list of coaches for a specific sport, league, and season.
      operationId: getSeasonCoaches
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: limit
          in: query
          required: false
          description: Maximum number of coaches to return per page
          schema:
            type: integer
            default: 25
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/coaches/{coach_id}:
    get:
      summary: Get Season Coach Details
      description: Retrieve details for a specific coach in a given sport, league, and season.
      operationId: getSeasonCoachDetails
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: coach_id
          in: path
          required: true
          description: The coach ID
          schema:
            type: string
            example: "17751"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoachDetailsResponse'
        '404':
          description: Coach not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/seasons/{year}/futures:
    get:
      summary: Get Season Futures
      description: Retrieve betting futures for a specific season including championship winners, division winners, player props, and more.
      operationId: getSeasonFutures
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: year
          in: path
          required: true
          description: The season year
          schema:
            type: integer
            example: 2024
        - name: limit
          in: query
          required: false
          description: Number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/draft/athletes/{athlete_id}:
    get:
      summary: Get NFL Draft Athlete Details
      description: Retrieve details for a specific NFL draft athlete (core API).
      operationId: getNflDraftAthlete
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: athlete_id
          in: path
          required: true
          description: The draft athlete ID (e.g., 106308)
          schema:
            type: string
            example: "106308"
        - name: lang
          in: query
          required: false
          description: Language code
          schema:
            type: string
            example: en
        - name: region
          in: query
          required: false
          description: Region code
          schema:
            type: string
            example: us
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflDraftAthleteResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/groups/{group_id}/standings:
    get:
      summary: Get NFL Conference Standings
      description: Retrieve NFL conference standings for a given year, season type, and group (e.g., NFC or AFC).
      operationId: getNFLConferenceStandings
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2023)
          schema:
            type: integer
            example: 2023
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: group_id
          in: path
          required: true
          description: The group ID (e.g., 7 for NFC, 8 for AFC)
          schema:
            type: integer
            example: 7
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NflConferenceStandingsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/athletes/{athlete_id}/projections:
    get:
      summary: Get NFL Athlete Projections
      description: Retrieve projected statistics for an NFL athlete for a specific season and season type.
      operationId: getNFLAthleteProjections
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason, 4=off-season)
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            example: 2
        - name: athlete_id
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
            example: "4040715"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AthleteStatisticsResponse'
        '404':
          description: No projections found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/football/leagues/nfl/seasons/{year}/types/{seasontype}/weeks/{week}/qbr/10000:
    get:
      summary: Get NFL Weekly QBR
      description: Retrieve quarterback rating (QBR) statistics for all quarterbacks for a specific week in an NFL season.
      operationId: getNFLWeeklyQBR
      parameters:
        - name: year
          in: path
          required: true
          description: The season year (e.g., 2024)
          schema:
            type: integer
            example: 2024
        - name: seasontype
          in: path
          required: true
          description: The season type (1=preseason, 2=regular, 3=postseason)
          schema:
            type: integer
            enum: [1, 2, 3]
            example: 2
        - name: week
          in: path
          required: true
          description: The week number
          schema:
            type: integer
            example: 1
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFLWeeklyQBRResponse'
        '404':
          description: QBR data not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}:
    get:
      summary: Get Competition Detail
      description: Retrieve detailed information for a specific competition within an event for a given sport and league.
      operationId: getCompetitionDetail
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
        '404':
          description: Competition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/situation:
    get:
      summary: Get Competition Situation
      description: Retrieve the current situation (down, distance, yard line, timeouts, etc) for a specific competition (game).
      operationId: getCompetitionSituation
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
            example: '401220403'
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
            example: '401220403'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionSituationResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/status:
    get:
      summary: Get Competition Status
      description: Retrieve the current status (clock, period, state, etc) for a specific competition (game).
      operationId: getCompetitionStatus
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionStatus'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/odds:
    get:
      summary: Get Competition Odds
      description: Retrieve betting odds for a specific competition within an event for a given sport and league.
      operationId: getCompetitionOdds
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsResponse'
        '404':
          description: Odds not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/odds/{provider_id}:
    get:
      summary: Get Competition Odds from Specific Provider
      description: Retrieve betting odds from a specific provider for a competition within an event for a given sport and league.
      operationId: getCompetitionOddsProvider
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
        - name: provider_id
          in: path
          required: true
          description: The odds provider ID (e.g., 58 for ESPN BET)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsItem'
        '404':
          description: Odds not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/odds/{provider_id}/head-to-heads:
    get:
      summary: Get Head-to-Head Odds from Provider
      description: Retrieve head-to-head betting odds from a specific provider for a competition.
      operationId: getCompetitionOddsHeadToHeads
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
        - name: provider_id
          in: path
          required: true
          description: The odds provider ID (e.g., 58 for ESPN BET)
          schema:
            type: string
      responses:
        '200':
          description: Successful response with paginated head-to-head odds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadToHeadsListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/odds/{provider_id}/history/{history_type}/movement:
    get:
      summary: Get Odds Movement History
      description: Retrieve detailed historical odds movements for a specific bet type from a provider.
      operationId: getCompetitionOddsMovement
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
        - name: provider_id
          in: path
          required: true
          description: The odds provider ID (e.g., 58 for ESPN BET, 1002 for teamrankings)
          schema:
            type: string
        - name: history_type
          in: path
          required: true
          description: The bet type history (0=moneyline, 1=spread, 2=total)
          schema:
            type: string
            enum: ['0', '1', '2']
        - name: limit
          in: query
          required: false
          description: Number of items to return (default 25, max 1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Successful response with paginated odds movement history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsMovementResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/odds/{provider_id}/predictors:
    get:
      summary: Get Odds Predictors
      description: Retrieve odds predictions from a specific provider for a game
      operationId: getOddsPredictors
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport identifier
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league identifier
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
            example: "401326315"
        - name: competition_id
          in: path
          required: true
          description: The competition ID (usually same as event ID)
          schema:
            type: string
            example: "401326315"
        - name: provider_id
          in: path
          required: true
          description: The odds provider ID
          schema:
            type: string
            example: "1003"
      responses:
        '200':
          description: Successful response with odds predictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OddsPredictorsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/broadcasts:
    get:
      summary: Get Competition Broadcasts
      description: Retrieve broadcast information for a specific competition within an event for a given sport and league.
      operationId: getCompetitionBroadcasts
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionBroadcastsResponse'
        '404':
          description: Broadcasts not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/officials:
    get:
      summary: Get Competition Officials
      description: Retrieve officials for a specific competition within an event for a given sport and league.
      operationId: getCompetitionOfficials
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionOfficialsResponse'
        '404':
          description: Officials not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/leaders:
    get:
      summary: Get Competition Leaders
      description: Retrieve statistical leaders for a specific competition within an event for a given sport and league.
      operationId: getCompetitionLeaders
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionLeadersResponse'
        '404':
          description: Leaders not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/competitors/{competitor_id}/roster/{athlete_id}/statistics/{page}:
    get:
      summary: Get Competition Athlete Statistics
      description: Retrieve detailed statistics for a specific athlete in a competition (game) for a given sport and league.
      operationId: getCompetitionAthleteStatistics
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
        - name: competition_id
          in: path
          required: true
          description: The competition ID
          schema:
            type: string
        - name: competitor_id
          in: path
          required: true
          description: The competitor ID (team ID within the competition)
          schema:
            type: string
        - name: athlete_id
          in: path
          required: true
          description: The athlete ID
          schema:
            type: string
        - name: page
          in: path
          required: true
          description: The statistics page number (usually 0)
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionAthleteStatisticsResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/probabilities:
    get:
      summary: Get Game Win Probabilities
      description: Retrieve win probability data for each play in a game. Shows how the probability of each team winning changed throughout the game.
      operationId: getGameProbabilities
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
          description: The league key (e.g., nfl, nba, mlb, nhl)
          schema:
            $ref: '#/components/schemas/LeagueEnum'
        - name: event_id
          in: path
          required: true
          description: The event ID
          schema:
            type: string
            example: "401547417"
        - name: competition_id
          in: path
          required: true
          description: The competition ID (usually the same as event_id)
          schema:
            type: string
            example: "401547417"
        - name: limit
          in: query
          required: false
          description: Maximum number of probabilities to return per page
          schema:
            type: integer
            default: 25
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbabilitiesListResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/sports/{sport}/leagues/{league}/events/{event_id}/competitions/{competition_id}/probabilities/{play_id}:
    get:
      summary: Get Play Probability
      description: Retrieve win probability data for a specific play in a game. Shows the probability of each team winning at the moment of this specific play.
      operationId: getPlayProbability
      parameters:
        - name: sport
          in: path
          required: true
          description: The sport key (e.g., football, basketball, baseball, hockey)
          schema:
            $ref: '#/components/schemas/SportEnum'
        - name: league
          in: path
          required: true
[...]
